{% extends 'core/base.html' %}
{% load static %}
{% block 'conteudo' %}
<div class="fluid-container flex-column d-flex align-items-center" style="flex-grow:1; background:#FAFAFA">
  <div class="w-100 d-flex justify-content-center flex-column align-items-center text-center" style="background-color:#00ae9d; min-height:20rem;">


            <div class=" mt-5  d-flex justify-content-between align-items-center" style="width:30rem; max-width:90%;"><h3 style="text-align:start;color:#fff !important;">
              
              Exames Clínicos e<br>Laboratoriais<h3> <img style="max-height:4rem;" src="{%static 'img/radiography.png' %}"></div>

            <div class=" mt-4 d-flex p-4 flex-column" style="max-width:30rem; background:#fff; border-radius:12px; 
            width:90%; margin-bottom: -4rem; filter: drop-shadow(2px 4px 6px #A2A2A2);"> 

            
     
          <!-- Formulário para Estado -->
          <form id="estado_form"  class="mb-3" >
            <p style="color:#000 !important; font-size:1rem !important; text-align:start">Selecione   o estado e a cidade para visualizar o atendimento mais próximo a você</p>

            <div class="p-2" style="border:solid .3px #000; border-radius:4px;">
              <select style="border:none; outline:none; height:2.5rem; max-height: 100px;  overflow-y: auto;background:#fff !importantf;color:#555 !important;" class="w-100 " id="estado_select" >              
              <!-- Opções de estado aqui -->
            </select>
          </div>
          </form>
          
          
          
          <!-- Formulário para Cidade -->
          <form id="cidade_form" class="mb-4">
            <div class="p-2" style="border:solid .3px #000; border-radius:4px;">
              <select style="border:none; outline:none; height:2.5rem; max-height: 100px;  overflow-y: auto;background:#fff !importantf;color:#555 !important;" class="w-100 " id="cidade_select" >             
              <!-- Opções de cidade aqui -->
            </select>
          </div>
           
          </form>
          
          <button class=" fw-bold p-1" style="
          background-color:#00ae9d; border:none; outline:none; width:fit-content; margin:0 auto; padding:.7rem 2.3rem !important; border-radius:4px; color:#fff;" id="mostrarPrincipal">Buscar</button>
          </div>

<div>
</div>
          

</div>
<div class="d-flex justify-content-center align-items-center mb-5" style=" margin-top:6rem; width:25rem; max-width:90%; gap:2rem;">
  <span class="text-center"> Já possuiu conta? </span>  <div class="text-center"> <a href="{%url 'login'%}" style="text-decoration:none;" class="text-center">Entrar |</a> <a href="{% url 'registerCliente'%}" style="text-decoration:none">Cadastrar</a></div>

</div>


<div class="container d-flex justify-content-center mt-4 mb-4">
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
          {% for banner in banners %}
          <div class="carousel-item {% if forloop.first %}active{% endif %}">
              <img style="height:10rem !important; width:20rem!important; object-fit:cover !important;" src="{{ banner.foto.url }}" alt="{{ banner.nome }}">
          </div>
          {% endfor %}
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
      </a>
  </div>
  </div>
  <script>
  
      const carouselInner = document.querySelector('.carousel-inner');
      images.forEach((image, index) => {
          const isActive = index === 0 ? 'active' : '';
      
      });
                  </script>

{% for profissional in profissionais %}
  <div class="mb-5">
    <h2 style="color:#000 !important;">{{ profissional.nome }}</h2>
    <p style="color:#000 !important;">Email: {{ profissional.email }}</p>
    <!-- Outros campos que você quer mostrar -->
    <a style="color:#000 !important;" href="{% url 'perfil_profissional' profissional.id %}">Ver Perfil</a>
  </div>
{% endfor %}
</div>




<script>

</script>


<script src="{%static 'js/pesquisarJS/pesquisarExames.js'%}">
</script>
{% endblock %}
