{% extends 'core/base.html' %}
{% load static %}
{% block 'conteudo' %}
<div class="container mt-5" style=" flex-grow:1;">




            <div class="d-flex  p-1 flex-column mb-2">

            
              <!-- Formulário para Especialidade -->
          <form id="especialidade_form"   class="mb-2"> 
            <select class="w-100 p-2" id="especialidade_select">
              
              <!-- Opções de especialidade aqui -->
            </select>
          
          </form>
          <!-- Formulário para Estado -->
          <form id="estado_form"  class="mb-2" >
            <select class="w-100 p-2" id="estado_select">
              
              <!-- Opções de estado aqui -->
            </select>
          
          </form>
          
          
          
          <!-- Formulário para Cidade -->
          <form id="cidade_form" class="mb-4">
            <select class="w-100 p-2" id="cidade_select">
             
              <!-- Opções de cidade aqui -->
            </select>
           
          </form>
          
          <button class=" fw-bold p-1" style="border:none; outline:none; width:fit-content; margin:0 auto; padding:.7rem 1.5rem !important; border-radius:4px; background:blue; color:#fff;" id="mostrarPrincipal">Mostrar</button>
          </div>


          
</div>

{% for profissional in profissionais %}
  <div class="mb-5">
    <h2 style="color:#000 !important;">{{ profissional.nome }}</h2>
    <p style="color:#000 !important;">Email: {{ profissional.email }}</p>
    <!-- Outros campos que você quer mostrar -->
    <a style="color:#000 !important;" href="{% url 'perfil_profissional' profissional.id %}">Ver Perfil</a>
  </div>
{% endfor %}
</div>





<script>

</script>


<script src="{%static 'js/pesquisarJS/pesquisarDentistas.js'%}">
</script>
{% endblock %}
