<html>
<head>
<title>Reset Password Email</title>

</head>
<body>
<div class="email-container" style=" 
    margin: auto;
    width: 600px;
    font-family: 'Arial', sans-serif;
    color: #333333;
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
  ">
  <img src="cid:logo-image-cid" alt="SaudeBras Logo" width="150">
  <h2>Apenas um passo para configurar sua nova senha</h2>
  <p>Clique no botão para configurar uma nova senha para sua conta na SaudeBras.com.br.</p>
  <a href="LINK_PARA_REDEFINIR_SENHA" class="button" style="display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  color: #ffffff;
  background-color: #44c767;
  border-radius: 5px;
  text-decoration: none;">Criar nova senha</a>
  <p>Seu nome de usuário, caso tenha esquecido:<br><strong>EFABIODIAS@gmail.com</strong></p>
  <div class="footer" style="margin-top: 30px;
  font-size: 0.9em;
  color: #777777;">
    <p>Obrigado por usar a SaúdeBras.<br>Equipe SaúdeBras.com.br</p>
    <p>Você recebeu este e-mail porque utiliza os serviços da SaúdeBras. Trata-se de um e-mail transacional, o que significa que está relacionado ao uso que você faz da nossa plataforma. Se precisar de mais informações, entre em contato conosco pelo e-mail <a href="mailto:suporte@saudebras.com.br">suporte@saudebras.com.br</a>.</p>
  </div>
</div>
</body>
</html>