{% autoescape off %}
<div style="font-family: Arial, sans-serif; color: #333;">

    <img style="height:3rem;" src="https://saudebras.onrender.com/static/img/saudebras-logo.png">
    <h2  >Apenas um passo para configurar sua nova senha</h2>
    <p style="margin-bottom:1rem">Clique no botão para configurar uma nova senha para sua conta na <a href="{{ protocol }}://{{ domain }}" style="color: #00ae9d; text-decoration: none;">SaúdeBras.com.br</a>.</p>
    <a  href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}" style="margin-bottom:2rem; background-color: #00ae9d; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px;">Criar nova senha</a>
    <br>
    <br>
    <p style="margin-bottom:1rem">Seu nome de usuário, caso tenha esquecido: <strong>{{ user.get_username }}</strong></p>
    <p style="margin-bottom:1rem">Obrigado por usar a SaúdeBras.</p>
    <p style="margin-bottom:2rem">Equipe <a href="mailto:suporte@saudebras.com.br" style="color: #00ae9d; text-decoration: none;">suporte@saudebras.com.br</a></p>
    <hr>

    <p style="font-size: small;">Você recebeu este e-mail porque utiliza os serviços da SaúdeBras. Trata-se de um e-mail transacional, o que significa que esta relacionado ao uso que você faz dos nossos serviços.</p>
    <p style="font-size: small;">Por favor, se precisar de mais informações, entre em contato conosco pelo e-mail <a href="mailto:suporte@saudebras.com.br" style="color: #00ae9d; text-decoration: none;">suporte@saudebras.com.br</a></p>
</div>
{% endautoescape %}