{% autoescape off %}
<div style="font-family: Arial, sans-serif; color: #333;">
    <h2 style="color: #4CAF50;">SaúdeBras</h2>
    <p>Consultas & Exames</p>

    <h3>Apenas um passo para configurar sua nova senha</h3>
    <p>Clique no botão para configurar uma nova senha para sua conta na <a href="{{ protocol }}://{{ domain }}" style="color: #4CAF50; text-decoration: none;">SaúdeBras.com.br</a>.</p>

    <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}" style="background-color: #4CAF50; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px;">Criar nova senha</a>

    <p>Seu nome de usuário, caso tenha esquecido: <strong>{{ user.get_username }}</strong></p>

    <p>Obrigado por usar a SaúdeBras.</p>
    <p>Equipe <a href="mailto:suporte@saudebras.com.br" style="color: #4CAF50; text-decoration: none;">suporte@saudebras.com.br</a></p>

    <hr>

    <p style="font-size: small;">Você recebeu este e-mail porque utiliza os serviços da SaúdeBras. Trata-se de um e-mail transacional, o que significa que esta relacionado ao uso que você faz dos nossos serviços.</p>
    <p style="font-size: small;">Por favor, se precisar de mais informações, entre em contato conosco pelo e-mail <a href="mailto:suporte@saudebras.com.br" style="color: #4CAF50; text-decoration: none;">suporte@saudebras.com.br</a></p>
</div>
{% endautoescape %}