{%extends 'core/base.html' %}
{% load static %}
{% block 'conteudo' %}
<h2>Redefinir Sua Senha</h2>
<p>Por favor, insira sua nova senha abaixo.</p>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Redefinir Senha</button>
</form>

{% if validlink %}
    <p>Sua senha foi redefinida com sucesso.</p>
{% else %}
    <p>O link de redefinição de senha é inválido, possivelmente porque já foi usado. Por favor, solicite um novo link <a href="{% url 'password_reset' %}">aqui</a>.</p>
{% endif %}
{% endblock %}