{% extends 'core/base.html' %}
{% load static %}
{% block 'conteudo' %}
<div class="modal fade" id="editarFoto" tabindex="-1" aria-labelledby="editarFotoLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editarFoto">Editar Foto</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="editarFoto" enctype="multipart/form-data" method="post" action="{%url 'alterar_Profissional' %}">
          {% csrf_token %}
          <p><input type="file"  name="foto"></p>

          <p><button name="action" value="update_photo" type="submit">Enviar</button></p>


        </form>
      </div>

    </div>
  </div>
</div>
<!-- Editar Perfil -->
<div class="w-100 d-flex" style="background:#FAFAFA; flex-grow:1;">
<div id="container"  class="editarContainer d-flex container mt-5" style="gap:5rem;" >
  <div id="sidebar" class="d-flex flex-column editar_perfil" style="gap:2rem;">
    <button onclick="alterarConteudo('conteudo1')">Editar Perfil</button>
    <button onclick="alterarConteudo('conteudo2')">Endereços</button>
    <button onclick="alterarConteudo('conteudo3')">Avaliações</button>
    
    {%if profissional.is_active == False%}
    

<button id="checkout-button">Assinar</button>

<script type="text/javascript">
    document.getElementById('checkout-button').addEventListener('click', () => {
      fetch('https://saudebras.com.br/create-subscription/', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': getCookie('csrftoken')
        }
    })
    .then(response => {
      if (!response.ok) {
          return Promise.reject('Failed to create subscription');
      }
      return response.json();
  })
  .then((session) => {
      window.location.href = session.url;
  })
    .catch((error) => {
        console.error('Error:', error);
    });


            function getCookie(name) {
              let cookieValue = null;
              if (document.cookie && document.cookie !== '') {
                  const cookies = document.cookie.split(';');
                  for (let i = 0; i < cookies.length; i++) {
                      const cookie = cookies[i].trim();
                      if (cookie.substring(0, name.length + 1) === (name + '=')) {
                          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                          break;
                      }
                  }
              }
              return cookieValue;
          }
    });
</script>

    {%endif%}
    {% if has_active_subscription and days_remaining is None %}
    <form method="post" action="{% url 'cancel-subscription' %}">
        {% csrf_token %}
        <button type="submit">Cancelar Assinatura</button>
    </form>
{% endif %}
    <a  class="w-100" style="text-decoration:none;" href="{% url 'perfil_profissional' profissional.id %}"><button class="w-100">Ver Perfil</button></a>
     {% if days_remaining is not None %}
        <p class="trial-text" style="color:#000 !important;">Dias restantes no período de teste: {{ days_remaining }}</p>

    {% endif %}

   
  </div>

  <div id="main-content" class=" mb-5">
    <div id="conteudo1" class="conteudo"> 

      <form id="editarPerfil" enctype="multipart/form-data" method="post" action="{%url 'alterar_Profissional'%}">
        {% csrf_token %}

      <div class="d-flex mb-3 align-items-center justify-content-center w-100" style="gap:2rem; ">
        <div class="d-flex flex-column w-100">
          <div class="p-4 mb-4" style="border-radius:4px; background:#fff; border-radius:12px; box-shadow: 2px 2px 3px 0px #BEBEBE;"> 
      <div  class="d-flex align-items-center mb-4 w-100 pic-box" style="gap:1rem;"><span class="p-3" style="border:solid 1px #BEBEBE; border-radius:4px; position:relative;"><a href="#" data-bs-toggle="modal" data-bs-target="#editarFoto" class="p-2 pencil" style="position:absolute;text-decoration:none; background:#fff; display:none; top:-15px; left:-15px; border-radius:50%; border:3px solid #04AA6D;"><img style="max-height:1.5rem;" src="{%static 'img/pencil.png' %}"></a><img style="height:7rem; width:7rem; object-fit:cover;" {%if profissional.foto%}src="{{profissional.foto.url}}" {%else%} src="#" {%endif%}></span>
      <span style="font-size:1.3rem; font-weight:600;">{{profissional.nome}}&nbsp;{{profissional.sobrenome}}</span> </div>    
      <div class="d-flex w-100 justify-content-start" style="gap:3rem;">
      <span class="d-flex flex-column justify-content-center align-items-start" style="color:#000 !important; "><label style="font-weight:600" for="nome">Nome:</label><input style="width:100%; max-width:12rem;"  id="nome" name="nome" value="{{profissional.nome}}"></span> 
      <span  class="d-flex flex-column justify-content-center align-items-start" style="color:#000 !important; "><label style="font-weight:600" for="sobrenome">Sobrenome:</label><input  style="width:100%; max-width:12rem;" name="sobrenome" id="sobrenome" value="{{profissional.sobrenome}}"></span> 
      </div>
    </div>
    <div class="p-4 mb-4" style="border-radius:4px; background:#fff; border-radius:12px; box-shadow: 2px 2px 3px 0px #BEBEBE;">
      <span class="d-flex flex-column justify-content-center align-items-start mb-3" style="color:#000 !important; gap:1rem;"><label style="font-weight:600" for="descricao">Descrição:</label><input style="width:100%;" name="descricao" id="descricao" value="{{profissional.descricao}}"></span>
    </div>
    <div class="p-4 mb-4" style="border-radius:4px; background:#fff; border-radius:12px; box-shadow: 2px 2px 3px 0px #BEBEBE;">
      <span class="d-flex flex-column justify-content-center align-items-start mb-3" style="color:#000 !important; gap:1rem;"><label for="descricao" style="font-weight:600">Telefone:</label><input style="width:100%;" id="telefone" name="telefone" value="{{profissional.telefone}}"></span>
    </div>
    
    
    
  
    
    <div>
      <div>
      

          <div class="p-4 convenios-perfil mb-4" style="border-radius:4px; background:#fff; border-radius:12px; box-shadow: 2px 2px 3px 0px #BEBEBE;">
            <span style="font-weight:600">Convênios:<br></span>
              <!-- Outros campos aqui... -->
          
              <div id="conveniosContainer" class="d-flex flex-column mt-4 mb-3">
                  <!-- Os convênios atuais seriam listados aqui -->
              </div>
          
              <button type="button" id="addConvenio">Adicionar Convênio</button>
          </div>


        <div class="p-4 mb-4" style="border-radius:4px; background:#fff; border-radius:12px; box-shadow: 2px 2px 3px 0px #BEBEBE;">
          <span style="font-weight:600">Idiomas:<br></span>
            <!-- Outros campos aqui... -->
        
            <div id="idiomasContainer" class="d-flex mt-4 flex-column mb-3">
                <!-- Os idiomas atuais seriam listados aqui -->
            </div>
        
            <button type="button" id="addIdioma">Adicionar Idioma</button>
        </div>
        <div class="p-4 mb-4" style="border-radius:4px; background:#fff; border-radius:12px; box-shadow: 2px 2px 3px 0px #BEBEBE;">
          <span style="font-weight:600;">Serviços:<br></span>
            <!-- Outros campos aqui... -->
        
            <div id="servicosContainer" class="d-flex flex-column mt-4 mb-3">
                <!-- Os serviços atuais seriam listados aqui -->
            </div>
        
            <button type="button" id="addServico">Adicionar Serviço</button>
        </div>
        <div class="p-4 mb-4" style="border-radius:4px; background:#fff; border-radius:12px; box-shadow: 2px 2px 3px 0px #BEBEBE;">
          <div>

          </div>
          <div id="fotosContainer"></div>
          <div id="fileInputsContainer"></div>
          <div class="d-flex mt-2" style="gap:.5rem;">
          <button id="addFileInput" style="width:100%:" type="button">Adicionar mais fotos</button>
          
      <button type="submit" name="action" value="update_profile" class="attButton" value="atualizar_profissional">Atualizar Perfil Profissional</button>
          </div>
        </div>
    <script>
      
      // Preenchidas pelo template do servidor
      const allConvenios = [
        {% for convenio in convenios %}
          {id: {{ convenio.id }}, nome: "{{ convenio.nome }}"},
        {% endfor %}
      ];
      
      const userConvenios = [
        {% for convenio in profissional.convenios.all %}
          {id: {{ convenio.id }}, nome: "{{ convenio.nome }}"},
        {% endfor %}
      ];
      
      let selectedConvenios = userConvenios.map(c => c.id);
      
      // Função para atualizar a visibilidade do botão 'Adicionar Convênio'
      function updateAddButtonVisibility() {
        const addButton = document.getElementById("addConvenio");
        addButton.addEventListener('click', function()
        {
          this.style.display = 'none'
        })
        const availableConvenios = allConvenios.filter(c => !selectedConvenios.includes(c.id));
      
        if (availableConvenios.length === 0) {
          addButton.style.display = 'none';
        } else {
          addButton.style.display = 'inline-block';
        }
      }
      
      
      // Função para criar elemento de convênio
      function createConvenioElement(id) {
        const convenio = allConvenios.find(c => c.id === id);
        const span = document.createElement("span");
        span.textContent = convenio.nome;
      
        const removeButton = document.createElement("button");
        removeButton.textContent = "X";
        removeButton.addEventListener("click", () => removeConvenioFromList(id, span));
      
        const hiddenInput = document.createElement("input");
        hiddenInput.type = "hidden";
        hiddenInput.name = "convenios";
        hiddenInput.value = id;
      
        span.appendChild(removeButton);
        const container = document.getElementById("conveniosContainer");
        container.appendChild(span);
        container.appendChild(hiddenInput); 
        
        // Adiciona o input oculto

      }
      
      
      // Função para remover convênio da lista
      function removeConvenioFromList(id, element) {
        const index = selectedConvenios.indexOf(id);
        if (index > -1) {
          selectedConvenios.splice(index, 1);
          element.remove();
      
          const container = document.getElementById("conveniosContainer");
          const hiddenInput = container.querySelector(`input[value="${id}"]`);
          if (hiddenInput) {
            hiddenInput.remove();  // Remove o input oculto
          }
        }
        updateAddButtonVisibility();
      }
      
      
      // Inicializa a lista de convênios que o usuário já tem
     
      
      document.getElementById("addConvenio").addEventListener("click", () => {
        const select = document.createElement("select");
        select.style.width = 'fit-content';
        allConvenios.forEach(convenio => {
          if (!selectedConvenios.includes(convenio.id)) {
            const option = document.createElement("option");
            option.value = convenio.id;
            option.text = convenio.nome;
            select.appendChild(option);
          }
        });
      
        const addButton = document.createElement("button");
        addButton.textContent = "Adicionar";
        addButton.style.background = '#04AA6D';
        addButton.style.color = '#fff';
        addButton.style.border = 'none';
        addButton.style.marginTop = '.5rem';
        addButton.style.width = 'fit-content';
        

        addButton.addEventListener("click", () => {
          selectedConvenios.push(Number(select.value));
          createConvenioElement(Number(select.value));
          select.remove();
          addButton.remove();
          updateAddButtonVisibility();
          document.querySelector('#addConvenio').style.display = 'block';
          updateAddButtonVisibility();
        });
      
        document.getElementById("conveniosContainer").appendChild(select);
        document.getElementById("conveniosContainer").appendChild(addButton);
      });
  
  
      
      </script>
      <script>
        window.onload = function() {
          // Inicializa a galeria do usuário com fotos já existentes
        
   // O array de fotos do usuário; geralmente, isso viria do seu servidor
const userFotos = [
{% for fotoUser in profissional.galeria.all %}
  {id: {{ fotoUser.id }}, url: "{{ fotoUser.imagem.url }}"},
{% endfor %}
];


userFotos.forEach(foto => {
  createFotoElement(foto.id, foto.url);
});


function createFotoElement(id, url) {
  const container = document.createElement("div");

  // Criando a imagem
  const img = document.createElement("img");
  img.src = url;
  img.style.objectFit = 'cover';
  img.style.margin = '.5rem';
  img.style.borderRadius = '4px';
  img.width = 100;
  img.height = 100;
  console.log("ativo")

  // Criando o botão de remover
  const removeButton = document.createElement("button");
  removeButton.textContent = "X";
  removeButton.addEventListener("click", () => {
    removeFoto(id, container);
  });

  // Criando o input hidden
  const hiddenInput = document.createElement("input");
  hiddenInput.type = "hidden";
  hiddenInput.name = "galeria";
  hiddenInput.value = id;


  // Adicionando elementos ao container
  container.appendChild(img);
  container.appendChild(removeButton);
  container.appendChild(hiddenInput);

  // Adicionando o container ao DOM
  document.getElementById("fotosContainer").appendChild(container);
}

// Função para remover foto e o input oculto associado
function removeFoto(id, container) {
  const index = userFotos.findIndex(foto => foto.id === id);
  if (index > -1) {
    userFotos.splice(index, 1);
    container.remove();
  }
}

function addNewFileInput() {
  const newInputDiv = document.createElement("div");
  
  const newInput = document.createElement("input");
  newInput.type = "file";
  newInput.name = "galeria";
  newInput.accept = "image/*";
  
  const removeButton = document.createElement("button");
  removeButton.textContent = "Excluir";
  removeButton.type = "button";
  removeButton.addEventListener("click", () => {
    newInputDiv.remove();
  });
  
  newInputDiv.appendChild(newInput);
  newInputDiv.appendChild(removeButton);
  
  document.getElementById("fileInputsContainer").appendChild(newInputDiv);
}

document.getElementById("addFileInput").addEventListener("click", addNewFileInput);

// Inicializa um input do tipo "file" na primeira carga
addNewFileInput();
        }

      </script>
        
        <script>
        // Preenchidas pelo template do servidor
        const allIdiomas = [
          {% for idioma in idiomas %}
            {id: {{ idioma.id }}, nome: "{{ idioma.nome }}"},
          {% endfor %}
        ];
        
        const userIdiomas = [
          {% for idioma in profissional.idiomas.all %}
            {id: {{ idioma.id }}, nome: "{{ idioma.nome }}"},
          {% endfor %}
        ];
        
        let selectedIdiomas = userIdiomas.map(i => i.id);
        
        // Função para atualizar a visibilidade do botão 'Adicionar Idioma'
        function updateAddIdiomaButtonVisibility() {
          const addButton = document.getElementById("addIdioma");
          
          addButton.addEventListener('click', function() 
          {
            this.style.display = 'none';
          })
          const availableIdiomas = allIdiomas.filter(i => !selectedIdiomas.includes(i.id));
        
          if (availableIdiomas.length === 0) {
            addButton.style.display = 'none';
          } else {
            addButton.style.display = 'inline-block';
          }
        }
        
        function createIdiomaElement(id) {
          // Cria um container div para encapsular o span e o input hidden
          const container = document.createElement("div");
        
          const idioma = allIdiomas.find(i => i.id === id);
          const span = document.createElement("span");
          span.textContent = idioma.nome;
        
          // Criação do input oculto
          const hiddenInput = document.createElement("input");
          hiddenInput.type = "hidden";
          hiddenInput.name = "idiomas";
          hiddenInput.value = id;
        
          const removeButton = document.createElement("button");
          removeButton.textContent = "X";
          removeButton.addEventListener("click", () => {
            removeIdiomaFromList(id, container); // Agora passamos o container ao invés do span
          });
        
          span.appendChild(removeButton);
        
          // Adiciona o span e o input hidden ao container
          container.appendChild(span);
          container.appendChild(hiddenInput);
          
          // Anexa o container à div principal
          document.getElementById("idiomasContainer").appendChild(container);
        }
        
        // Função para remover idioma da lista e o input oculto associado
        function removeIdiomaFromList(id, container) {
          const index = selectedIdiomas.indexOf(id);
          if (index > -1) {
            selectedIdiomas.splice(index, 1);
            container.remove(); // Remove o contêiner inteiro, que inclui o span e o input oculto
          }
          updateAddIdiomaButtonVisibility();
        }
        
       
        
        document.getElementById("addIdioma").addEventListener("click", () => {
          const select = document.createElement("select");
          select.style.width = 'fit-content';
        
          allIdiomas.forEach(idioma => {
            if (!selectedIdiomas.includes(idioma.id)) {
              const option = document.createElement("option");
              option.value = idioma.id;
              option.text = idioma.nome;
              select.appendChild(option);
            }
          });
        
          const addButton = document.createElement("button");
          addButton.textContent = "Adicionar";
          addButton.style.background = '#04AA6D';
          addButton.style.color = '#fff';
          addButton.style.border = 'none';
          addButton.style.marginTop = '.5rem';
          addButton.style.width = 'fit-content'
          addButton.addEventListener("click", () => {
            selectedIdiomas.push(Number(select.value));
            createIdiomaElement(Number(select.value));
            select.remove();
            addButton.remove();
            updateAddIdiomaButtonVisibility();
          });
        
          document.getElementById("idiomasContainer").appendChild(select);
          document.getElementById("idiomasContainer").appendChild(addButton);
        });
        
        // Preenchidas pelo template do servidor
const allServicos = [
{%for servico in servicos%}
{id: {{ servico.id }}, nome: "{{ servico.nome }}"},
{%endfor%}
];

const userServicos = [
{% for servicoProf in profissional.servicos.all %}
            {id: {{ servicoProf.id }}, nome: "{{ servicoProf.nome }}"},
          {% endfor %}];

let selectedServicos = userServicos.map(s => s.id);

// Função para atualizar a visibilidade do botão 'Adicionar Serviço'
function updateAddServicoButtonVisibility() {
  const addButton = document.getElementById("addServico");
  addButton.addEventListener('click', function()
  {
    document.querySelector('#addServico').style.display = 'none'
  })

  const availableServicos = allServicos.filter(s => !selectedServicos.includes(s.id));

  if (availableServicos.length === 0) {
    addButton.style.display = 'none';
  } else {
    addButton.style.display = 'inline-block';
  }
}
// Função para criar elemento de serviço
function createServicoElement(id) {
  // Cria um container div para encapsular o span e o input hidden
  const container = document.createElement("div");

  const servico = allServicos.find(s => s.id === id);
  const span = document.createElement("span");
  span.textContent = servico.nome;

  // Criação do input oculto
  const hiddenInput = document.createElement("input");
  hiddenInput.type = "hidden";
  hiddenInput.name = "servicos";
  hiddenInput.value = id;

  const removeButton = document.createElement("button");
  removeButton.textContent = "X";
  removeButton.addEventListener("click", () => {
    removeServicoFromList(id, container); // Agora passamos o container ao invés do span
  });

  span.appendChild(removeButton);

  // Adiciona o span e o input hidden ao container
  container.appendChild(span);
  container.appendChild(hiddenInput);
  
  // Anexa o container à div principal
  document.getElementById("servicosContainer").appendChild(container);
}

// Função para remover serviço da lista e o input oculto associado
function removeServicoFromList(id, container) {
  const index = selectedServicos.indexOf(id);
  if (index > -1) {
    selectedServicos.splice(index, 1);
    container.remove(); // Remove o contêiner inteiro, que inclui o span e o input oculto
  }
  updateAddServicoButtonVisibility();
}


// Inicializa a lista de serviços que o usuário já tem

document.getElementById("addServico").addEventListener("click", () => {
  const select = document.createElement("select");
  select.style.width = 'fit-content'

  allServicos.forEach(servico => {
    if (!selectedServicos.includes(servico.id)) {
      const option = document.createElement("option");
      option.value = servico.id;
      option.text = servico.nome;
      select.appendChild(option);
    }
  });

  const addButton = document.createElement("button");
  addButton.textContent = "Adicionar";
  addButton.style.background = '#04AA6D';
  addButton.style.color = '#fff';
  addButton.style.border = 'none';
  addButton.style.marginTop = '.5rem';
  addButton.style.width = 'fit-content'
  addButton.addEventListener("click", () => {
    selectedServicos.push(Number(select.value));
    createServicoElement(Number(select.value));
    select.remove();
    addButton.remove();
    updateAddServicoButtonVisibility();
    addButton.addEventListener('click', function()
  {
    document.querySelector('#addServico').style.display = 'block'
  })
  });

  document.getElementById("servicosContainer").appendChild(select);
  document.getElementById("servicosContainer").appendChild(addButton);
});
        </script>
    
        <script>
          // Função para inicializar tanto Convênios quanto Idiomas
          window.addEventListener('load', function() {
            // Inicializa convênios
            userConvenios.forEach(c => createConvenioElement(c.id));
            updateAddButtonVisibility();
            
            // Inicializa idiomas
            userIdiomas.forEach(i => createIdiomaElement(i.id));
            updateAddIdiomaButtonVisibility();
          });
          userServicos.forEach(s => createServicoElement(s.id));
  updateAddServicoButtonVisibility();
        </script>

        <script>
          document.getElementById("editarPerfil").addEventListener("submit", function(event) {
            const galeriaInputs = document.querySelectorAll('input[name="galeria"]');
            let galeriaValues = [];
            
            galeriaInputs.forEach((input) => {
              if(input.value === '') {
                  input.remove();
              }
            });
            
            // Removendo todos os inputs de galeria
            
  
          
            // Adicionando apenas os inputs válidos
            galeriaValues.forEach((value) => {
              const hiddenInput = document.createElement("input");
              hiddenInput.type = "hidden";
              hiddenInput.name = "galeria";
              hiddenInput.value = value;
              this.appendChild(hiddenInput);
            });
          });
        </script>
        
        
        
        
        
      </div>

   
  </div>

  

  
        </div>

      </div>
    </form>

     </div>

    <div id="conteudo2" class="conteudo">
      <div class="p-4 mb-4" style="border-radius:4px; background:#fff; border-radius:12px; box-shadow: 2px 2px 3px 0px #BEBEBE;">
        <form class="enderecoForm" method="POST" action="{% url 'alterar_Profissional' %}" enctype="multipart/form-data">
          {% csrf_token %}
        <div id="enderecosContainer" class="d-flex flex-column">
        
      </div>
      
      <button type="button" id="addEndereco">Adicionar Endereço</button>
      <button  type="submit" name="action" value="update_address"> Enviar</button>
    </form>
    </div>

  </div>
      <script>  
        document.getElementById('addEndereco').addEventListener('click', () => {
          const enderecoContainer = document.createElement('div');
          enderecoContainer.classList.add('endereco-item');
          const dadosDiv = document.createElement('div');
          const cepInput = document.createElement('input');
          cepInput.type = 'text';
          cepInput.name = 'cep[]';
          cepInput.placeholder = 'CEP';
      
          const complementoInput = document.createElement('input');
          complementoInput.type = 'text';
          complementoInput.name = 'complemento[]';
          complementoInput.placeholder = 'Complemento';
      
          const removeButton = document.createElement('button');
          removeButton.textContent = 'Remover';
          removeButton.addEventListener('click', () => {
              enderecoContainer.remove();
          });
      
          enderecoContainer.appendChild(cepInput);
          enderecoContainer.appendChild(complementoInput);
          enderecoContainer.appendChild(removeButton);
      
          document.getElementById('enderecosContainer').appendChild(enderecoContainer);
      });
      
      document.querySelectorAll('.remove-endereco').forEach(button => {
          button.addEventListener('click', (event) => {
              const enderecoContainer = event.target.closest('.endereco-item');
              enderecoContainer.remove();
          });
      });
      
      </script>


    <div id="conteudo3" class="conteudo">
      <div class="p-4 mb-4" style="border-radius:4px; background:#fff; border-radius:12px; box-shadow: 2px 2px 3px 0px #BEBEBE;">
        {% for pergunta in profissional.perguntas.all %}
        {%if pergunta.resposta == blank %}
    <div class="d-flex flex-column justify-content-center">
        <div class="d-flex mb-3">
          <img style="max-height:2rem;" src="{{pergunta.cliente.foto.url}}"><span>{{pergunta.cliente.nome}}</span>
        </div>
          <span>{{pergunta.pergunta}}</span>
          
          <form method="post" action="{%url 'alterar_Profissional' %}">
            {%csrf_token%}
            <input type="hidden" name="pergunta_id" value="{{pergunta.id}}">
        <input name="resposta" placeholder:"Resposta...">
        <button type="submit" name="action" value="responder_pergunta">Enviar</button>
          </form>
    
  </div>
    {%else%}

    <div class="d-flex flex-column mb-3">
        <span>Pergunta: {{pergunta.pergunta}}</span>
        <span>Resposta: {{pergunta.resposta}}</span>

    </div>

    {%endif%}
{% endfor %}

  
      </div>
    </div>
      
    <script>
      // Array de endereços existentes; isso normalmente viria do seu servidor
      const userEnderecos = [
          {% for endereco in profissional.enderecos.all %}
          {id: {{ endereco.id }}, cep: "{{ endereco.cep }}", complemento: "{{ endereco.complemento }}"},
          {% endfor %}
      ];
  
      // Função para criar um elemento de endereço
      function createEnderecoElement(id, cep, complemento) {
          const container = document.createElement("div");
          container.classList.add('d-flex', 'mb-2')
          container.style.gap = '.5rem'
          const dadosContainer = document.createElement("div");
          dadosContainer.classList.add("d-flex", "flex-column")
          const cepElement = document.createElement("span");
          cepElement.textContent = `CEP: ${cep}`;
          const complementoElement = document.createElement("span");
          complementoElement.textContent = `Complemento: ${complemento}`;
  
          const removeButton = document.createElement("button");
          removeButton.textContent = "X";
          removeButton.addEventListener("click", () => {
              const index = userEnderecos.findIndex(endereco => endereco.id === id);
              if (index > -1) {
                  userEnderecos.splice(index, 1);
                  container.remove();
              }
          });
  
          // Campos ocultos para enviar dados com o formulário
          const cepInputHidden = document.createElement("input");
          cepInputHidden.type = "hidden";
          cepInputHidden.name = "cep[]";
          cepInputHidden.value = cep;
  
          const complementoInputHidden = document.createElement("input");
          complementoInputHidden.type = "hidden";
          complementoInputHidden.name = "complemento[]";
          complementoInputHidden.value = complemento;
          
          dadosContainer.appendChild(cepElement);
          dadosContainer.appendChild(complementoElement);
          container.appendChild(dadosContainer);
          container.appendChild(cepInputHidden);
          container.appendChild(complementoInputHidden);
          container.appendChild(removeButton);
          document.getElementById("enderecosContainer").appendChild(container);
      }
  
      // Função para adicionar novos campos de input para endereço
      function addNewEnderecoInput() {
          const container = document.createElement("div");
          container.style.gap = '.5rem';
          const cepInput = document.createElement("input");
          cepInput.placeholder = "Insira o CEP";
          cepInput.name = "cep[]";  // Adicionado atributo name
  
          const complementoInput = document.createElement("input");
          complementoInput.placeholder = "Insira o Complemento";
          complementoInput.name = "complemento[]";  // Adicionado atributo name
  
          container.appendChild(cepInput);
          container.appendChild(complementoInput);
          document.getElementById("enderecosInputsContainer").appendChild(container);
      }
  
      window.addEventListener('DOMContentLoaded', (event) => {
          // Inicializa os endereços que já estão associados ao profissional
          userEnderecos.forEach(endereco => {
              createEnderecoElement(endereco.id, endereco.cep, endereco.complemento);
          });
  
          // Adiciona um novo conjunto de inputs para endereço quando o botão é clicado
          document.getElementById("addEnderecoInput").addEventListener("click", addNewEnderecoInput);
  
          // Inicializa um conjunto de inputs para endereço na primeira carga
          addNewEnderecoInput();
      });
  </script>
</div>
</div>
</div>
<script>
  // Definindo a função que altera o conteúdo
function alterarConteudo(conteudoId) {
  // Ocultar todos os conteúdos
  const todosConteudos = document.getElementsByClassName('conteudo');
  for (let i = 0; i < todosConteudos.length; i++) {
    todosConteudos[i].style.display = 'none';
  }

  // Exibir o conteúdo selecionado
  const conteudoSelecionado = document.getElementById(conteudoId);
  if (conteudoSelecionado) {
    conteudoSelecionado.style.display = 'block';
  }
}

// Exibindo o primeiro conteúdo por padrão
alterarConteudo('conteudo1');

</script>


{% endblock %}
