{% extends 'core/base.html' %}
{% load static %}
{% block 'conteudo' %}
<!-- Editar Perfil -->
<form method="post">
    {% csrf_token %}
    <!-- Atualizar perfil profissional -->
    {{ profissional_form.as_p }}
    <button type="submit" name="acao" value="atualizar_profissional">Atualizar Perfil Profissional</button>
  </form>
  
  <!-- Listar e Excluir Endereços -->
  {% for endereco in enderecos %}
  <div>
    {{ endereco.rua }} - {{ endereco.bairro.nome }} - {{ endereco.cidade.nome }}
    <form method="post">
      {% csrf_token %}
      <input type="hidden" name="endereco_id" value="{{ endereco.id }}">
      <button type="submit" name="acao" value="excluir">Excluir</button>
    </form>
  </div>
  {% endfor %}
  
  <!-- Adicionar Novo Endereço -->
  <form method="post">
    {% csrf_token %}
    {{ endereco_form.as_p }}
    <button type="submit" name="acao" value="criar">Adicionar Novo Endereço</button>
  </form>


{% endblock %}
