{% extends 'core/base.html' %}
{% load static %}
{% block  'conteudo' %}
      
     

       

      
        
<div id="index7" class="fluid-container" style="background:#DEF5EF">
  <div class=" mt-4 mb-4 container1">
  {%if user.is_authenticated%} <div class="d-flex align-items-center justify-content-center"> <span class="text-center mb-3" style="color:#00AB9B !important; font-weight:600 !important;"> Olá </span>&nbsp;
    {%if user.profissional%}<div class=" d-flex mb-3 justify-content-center align-items-center" style="gap:.5rem;"><span class="welcome-font" style="color:#00AB9B !important; font-weight:600 !important;">{{user.nome}}</span> <img style="height:2rem;width:2rem; object-fit:cover; border-radius:50%;"  src="{{user.profissional.foto.url}}"><span class="welcome-font" style="color:#00AB9B !important; font-weight:600 !important;">!</span></div>
    {%elif user.cliente%}<div class=" d-flex mb-3 justify-content-center align-items-center" style="gap:.5rem;"><span class="welcome-font" style="color:#00AB9B !important; font-weight:600 !important;">{{user.nome}}</span> <img style="height:2rem;width:2rem; object-fit:cover; border-radius:50%;"  src="{{user.cliente.foto.url}}"><span class="welcome-font" style="color:#00AB9B !important; font-weight:600 !important;">!</span></div>
    {%elif user.clinica%}<div class=" d-flex mb-3 justify-content-center align-items-center" style="gap:.5rem;"><span class="welcome-font" style="color:#00AB9B !important; font-weight:600 !important;">{{user.nome}}</span> <img style="height:2rem;width:2rem; object-fit:cover; border-radius:50%;"  src="{{user.clinica.foto.url}}"><span class="welcome-font" style="color:#00AB9B !important; font-weight:600 !important;">!</span></div>
    {%else%}<div class=" d-flex mb-4 justify-content-center align-items-center"><span class="welcome-font" style="color:#00AB9B !important; font-weight:600 !important;">{{user.nome}}</span> </div>
    {%endif%}

  </div>
  {%endif%}
  <div  id="fale-conosco">
     <div class="row align-items-center">
    
        <div class="d-flex justify-content-center align-items-center">
          <div class=" index1-txt text-center justify-content-center align-items-center">
            
              <h2 class="mb-3  main-text"style="text-align:left; max-width:43rem;font-family:'DaxBold', sans-serif !important;font-weight:800 !important; color:#00ae9d !important;">
                 Encontre os melhores profissionais
                da saúde para você e sua família.
                
                </h2>
                 <span class="subtext mb-4" style="font-size:1.4rem; color:#00ae9d !important; font-weight:500; font-family:'Daxline', sans-serif !important;" id="elementTxt">Agende agora sua consulta ou exames com valores reduzidos</span>
              
              <div class="main-options d-flex flex-column w-100">
                 <div class="icones mb-4 d-flex justify-content-center align-items-center w-100 mb-2">
                    <li >
                       <a href="{% url 'pesquisarProfissionais' tipo_profissional='Médico' %}">
                          <span class="box-icon d-flex align-items-center ">
                             <img style="max-height:5.5rem; margin-right:.4rem;" class="p-1" src="{%static 'img/estetoscopio-instrumento-medico-1.svg' %}">
                             <div class="flex-icon text-left"><span  style="font-family:'HUMNST' !important; color:#00AB9B !important; font-weight:800 !important;font-size:1rem !important; text-align:lstart! important;">Consultas    
                                Médicas</span>
                          </span>
                          </span>
                          </div>
                       </a>
                    </li>
                    <li>
                       <a href="{% url 'pesquisarProfissionais' tipo_profissional='Dentista' %}  ">
                          <span class="box-icon d-flex align-items-center ">
                             <img style="max-height:5.5rem; margin-right:.4rem;" class="p-1" src="{%static 'img/cuidado-dental.svg' %}">
                             <div class="flex-icon text-left"><span  style="font-family:'HUMNST' !important; color:#00AB9B !important; font-weight:800 !important;font-size:1rem !important; text-align:lstart! important;">Consultas Odonto</span>
                          </span>
                          </span>
                          </div>
                       </a>
                    </li>
                    <li>
                      <a href="{% url 'pesquisarClinicas' tipo_clinica='Clínica' %}  "> <span class="box-icon d-flex align-items-center ">
                          <img style="max-height:5.5rem; margin-right:.4rem;" class="p-1" src="{%static 'img/diagnostico.svg' %}">
                          <div class="flex-icon text-left"><span  style="font-family:'HUMNST' !important; color:#00AB9B !important; font-weight:800 !important;font-size:1rem !important; text-align:start !important;">Clínicas e Laboratórios</span>
                       </span>
                       </span>
                       </div>
                      </a>
                    </li>
                    <li>
                      <a href="{% url 'pesquisarClinicas' tipo_clinica='Emergência' %}  ">
                      <span class="box-icon d-flex align-items-center ">
                         <img style="max-height:5.5rem; margin-right:.4rem;" class="p-1" src="{%static 'img/ambulancia.svg' %}">
                         <div class="flex-icon text-left"><span  style="font-family:'HUMNST' !important; color:#00AB9B !important; font-weight:800;font-size:1rem !important; text-align:start !important;">Urgências<br> e Emergências 24h</span>
                      </span>
                      </span>
                      </div>
                    </a>
                   </li>
                 </div>
                 <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner">
                      {% for banner in banners %}
                      <div  class="carousel-item {% if forloop.first %}active{% endif %}">
                          <img class="img-carrousel" style="height:8rem; width:35rem; max-width:100%; object-fit:cover !important;" src="{{ banner.foto.url }}" alt="{{ banner.nome }}">
                      </div>
                      {% endfor %}
                  </div>
                  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                  </a>
              </div>
                 <div class="d-none">
                 <input type="text" id="estado_input" placeholder="Selecione um Estado" value="{{ request.GET.estado }}">
                 <ul id="estado_list"></ul>
               
                 <input type="text" id="especialidade_input" placeholder="Especialidade ou Nome" value="{{ request.GET.especialidade }}{{ request.GET.nome }}{{ request.GET.tipo_profissional }}">
                 <ul id="especialidade_list"></ul>
                 
                 <button id="search_button" style="background:#00a2ff;">Pesquisar</button>
                 </div>
              </div>
           </div>
           <div class="div-img d-flex justify-content-end align-items-center">
           <img style="height:35rem" src="{%static 'img/IMAGEM-MÉDICOS-IA-SEM-FUNDO.png' %}">
           </div>

        </div>

     
     

  </div>
</div>
</div>
</div>


<div style="display:none;">
<button id="checkout-button">Checkout</button>

<script type="text/javascript">
    document.getElementById('checkout-button').addEventListener('click', () => {
      fetch('https://c5c4-2804-1b3-6b03-a3e5-386a-900c-bb86-8a8b.ngrok-free.app/create-subscription/', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': getCookie('csrftoken')
        }
    })
    .then(response => {
      if (!response.ok) {
          return Promise.reject('Failed to create subscription');
      }
      return response.json();
  })
  .then((session) => {
      window.location.href = session.url;
  })
    .catch((error) => {
        console.error('Error:', error);
    });


            function getCookie(name) {
              let cookieValue = null;
              if (document.cookie && document.cookie !== '') {
                  const cookies = document.cookie.split(';');
                  for (let i = 0; i < cookies.length; i++) {
                      const cookie = cookies[i].trim();
                      if (cookie.substring(0, name.length + 1) === (name + '=')) {
                          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                          break;
                      }
                  }
              }
              return cookieValue;
          }
    });
</script>

<form method="post" action="{% url 'cancel-subscription' %}">
  {% csrf_token %}
  <button type="submit">Cancelar Assinatura</button>
</form>

       

</div>

        <div style="display:none;" id="index-main">

          <div class="container">
            <div class="main" style="position:relative;" >
                <div class="icon-medico">

                    <img  src="/assets/image/stethoscope.png">

                </div>
            <p style="font-size: 1.2rem; text-align: center; padding:2.5rem;">
           
                Você, Médico, merece foco que realmente importa: a saúde dos seus pacientes. Deixe a Senem Contabilidade cuidar do seu bem-estar financeiro.

            </p>  
            </p>
          </div>
          </div>


        </div>

        <div id="index2" style="display:none;" >
            <div class="container">
        
              <p>
                
                A Senem Contabilidade é sua parceira na jornada para a sustentabilidade financeira. Queremos que você alcance novos patamares de sucesso profissional, enquanto desfruta de tranquilidade em relação a sua empresa.</p>
            <div class=" grid-cards" style="display: grid; grid-template-columns: 1fr 1fr 1fr; gap:1rem;">
                
             
                <div class="card" style="width: 100%;">
                  <div class="card-img">
                    <img src="/assets/image/freedom (2).png">
                  </div>
                    <div class="card-body">
                      <h5 class="card-title">Liberdade para Cuidar:  </h5>
                     
                        <p>Nossos serviços de contabilidade especializados em saúde liberam seu tempo e energia para você fazer o que faz de melhor: cuidar dos pacientes. Deixe-nos lidar com os números, enquanto você faz a diferença.</p>
                      
                       
                    
                   
                    </div>
                  </div>


          <div class="card" style="width: 100%;">
            <div class="card-img">
              <img src="/assets/image/agreement (1).png">
            </div>
            <div class="card-body">
              <h5 class="card-title">Conformidade sem Preocupações:</h5>
             
              <p>As complexidades fiscais e regulatórias podem ser um labirinto. Mantenha-se tranquilo, sabendo que sua prática está sempre em conformidade.</p>
              
            </div>
          </div>

          <div class="card" style="width: 100%;">
            <div class="card-img">
              <img src="/assets/image/money-flow (1).png">
            </div>
            <div class="card-body">
              <h5 class="card-title">Lucratividade Aprimorada:</h5>
             <p>
              Através de análises e estratégias personalizadas, nós otimizamos suas finanças. Você não apenas economizará dinheiro, mas também descobrirá novas oportunidades para aumentar seus ganhos.
                </p>
             
            </div>
          </div>

            </div>
        </div>
       
        </div>


     


        <div class="fluid-container" style="background:#00ae9d;">
          <div class="mt-5 mb-5 d-flex flex-column align-items-center container"  >
            <div class="index1-txt text-center w-100 justify-content-center align-items-center mb-4">
              <span class="text-center main-text"style="    font-family:'Daxline', sans-serif !important;font-weight:800 !important;
;               text-transform: capitalize !important; font-size:2rem;  color:#fff !important;">
                 PROFISSIONAIS EM DESTAQUE
                
              </span>
                 <span class="mb-3" style="font-size:1.5rem; color:#fff !important; font-weight:800; font-family:'Daxline', sans-serif !important;" id="elementTxt">OS MELHORES MÉDICOS E ESPECIALISTAS NA SUA CIDADE</span>
              <div class="grid-items" style="display:grid; grid-template-columns:1fr 1fr; gap:1.5rem;">
            {%for profissional in profissionais_ativos_aleatorios%}
            <div class="p-3 d-flex flex-column align-items-start justify-content-start" style="max-width:25rem; background:#fff; box-shadow:0 15px 30px 5px rgba(0, 0, 0, 0.089); border-radius:12px; width:100%;">
            <div class="d-flex justify-content-start align-items-start mb-3">
              <div class="d-flex flex-column">
                <div class="d-flex align-items-start mb-2" style="gap:.5rem">
              <img style="height:6rem; width:6rem; object-fit:cover; border-radius:12px;" src="{{profissional.foto.url}}">
              <div class="d-flex flex-column align-items-start">
  
                <span style="font-family:'Daxline', sans-serif !important; font-weight:800;  color:#6D6875 !important; text-align:left !important;">Dr.&nbsp;{{profissional.nome}}&nbsp;{{profissional.sobrenome}}</span>
                <span style="text-transform: uppercase; font-family:'DaxBold', sans-serif !important; font-weight:600; font-size:1.1rem; color:#00ae9d !important;">
                  {{profissional.tipo_profissional}}
                </span>

                <span style=" font-family:'Daxline', sans-serif !important; font-weight:800;  color:#6D6875 !important;"> 
                  {{ profissional.cidade.first }}&nbsp;-&nbsp;
                  {{ profissional.estado.first }}
  
              
              </span> 
                              </div>

              </div>
          
                <span class="text-start" style="font-family:'Daxline', sans-serif !important; font-weight:500;  color:#6D6875 !important;" >
                  {{profissional.descricao}}
                </span>
              </div>
            </div> 
  
           
          </div>
            {%endfor%}
        </div>
            </div>
          </div>

        </div>

          <div class="fluid-container" style="background:#DEF5EF;">
   
            <div class="mt-5 mb-5 d-flex flex-column align-items-center container"  >
              <div class="index1-txt text-center w-100 justify-content-center align-items-center mb-4">
                <span class="text-center main-text"style="font-family:'Daxline', sans-serif !important;font-weight:800 !important;
                ;               text-transform: capitalize !important; font-size:2rem;  color:#00ae9d !important">
                   DEPOIMENTOS
                  
                </span>
                   <span style="font-size:1.5rem; font-family:'Daxline' !important; color:#00AB9B !important; !important; font-weight:800;" id="elementTxt">SUA SATISFAÇÃO É NOSSA MAIOR RECOMPENSA</span>
                </div>
                <div class="grid-items" style="display:grid; grid-template-columns:1fr 1fr; gap:1.5rem;">
              {%for depoimento in depoimentos%}
              <div class="p-3 d-flex flex-column align-items-start justify-content-start" style="max-width:25rem; background:#fff; box-shadow:0 15px 30px 5px rgba(0, 0, 0, 0.089); border-radius:12px; width:100%;">
              <div class="d-flex justify-content-start align-items-start mb-3" style="gap:.5rem;">
                <img style="height:6rem; width:6rem; object-fit:cover; border-radius:12px;" src="{{depoimento.profissional.foto.url}}">
                <div class="d-flex flex-column align-items-start">
    
  
                  <span style="font-family:'Daxline', sans-serif !important; font-weight:800;  color:#6D6875 !important;">Dr.&nbsp;{{depoimento.profissional.nome}}&nbsp;{{profissional.sobrenome}}</span>
                  <span style="text-transform: uppercase; font-family:'DaxBold', sans-serif !important; font-weight:600; font-size:1.1rem; color:#00ae9d !important;">
                    {{depoimento.profissional.tipo_profissional}}
                
                    {{ depoimento.profissional.especialidades.first }}

                
                </span>   
                
           
                  
                  </span>
                  <span style=" font-family:'Daxline', sans-serif !important; font-weight:800;  color:#6D6875 !important;"> 
                    {{ depoimento.profissional.cidade.first }}&nbsp;-&nbsp;
                    {{ depoimento.profissional.estado.first }}
    
                
                </span>   
                  <span><div class="star-rating" data-value="{{depoimento.rating}}">
                    <span class="star"></span>
                    <span class="star"></span>
                    <span class="star"></span>
                    <span class="star"></span>  
                    <span class="star"></span>
                </div></span>
                </div>
              </div> 
    
              <div>
                <span style="font-family:'Daxline', sans-serif !important; font-weight:500;  color:#6D6875 !important;">
                {{depoimento.descricao}}
                </span>
              </div>
            </div>
              {%endfor%}
          </div>
              </div>
            </div>
            <script>

const carouselInner = document.querySelector('.carousel-inner');
images.forEach((image, index) => {
    const isActive = index === 0 ? 'active' : '';

});
            </script>
       <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            const starRatingElements = document.querySelectorAll('.star-rating');
        
            starRatingElements.forEach(starRatingElement => {
                const ratingValue =
        starRatingElement.getAttribute('data-value');
        const stars = starRatingElement.querySelectorAll('.star');
        
            stars.forEach((star, index) => {
                if (index < ratingValue) {
                    star.textContent = '★';  // estrela cheia
                    star.classList.add('filled');
                } else {
                    star.textContent = '☆';  // estrela vazia
                }
            });
        });
      });
       </script>
  
    {%endblock%}

 