{% extends 'core/base.html' %}
{% load static %}
{% block  'conteudo' %}
      
     

       

      
        
<div id="index7" style="background:#DEF5EF !important;">
  <div class="container mt-5"  id="fale-conosco">
     <div class="row align-items-center">
        <div class=" col-12 text-center justify-content-center align-items-center">
           <div class="index1-txt text-center w-100 justify-content-center align-items-center">
              <h2 class="text-center"style="text-transform: capitalize !important;  color:#00AB9B !important;">
                 ENCONTRE OS MELHORES PROFISSIONAIS
                 DA SAÚDE<br> PARA VOCÊ E SUA FAMÍLIA
                 <span id="element"></span>
              </h2>
              <div class="main-options d-flex flex-column w-100">
                 <div class="icones d-flex justify-content-center align-items-center w-100">
                    <li >
                       <a href="{% url 'pesquisarProfissionais' tipo_profissional='Médico' %}">
                          <span class="box-icon d-flex align-items-center justify-content-center ">
                             <img style="max-height:7rem; margin-right:.4rem;" class="p-1" src="{%static 'img/estetoscopio-instrumento-medico-1.svg' %}">
                             <div class="flex-icon"><span  style=" color:#00AB9B !important; font-weight:600;font-size:.9rem !important; text-align:center !important;">Consultas    
                                Médicas</span>
                          </span>
                          </span>
                          </div>
                       </a>
                    </li>
                    <li>
                       <a href="{% url 'pesquisarProfissionais' tipo_profissional='Dentista' %}  ">
                          <span class="box-icon d-flex align-items-center justify-content-center ">
                             <img style="max-height:7rem; margin-right:.4rem;" class="p-1" src="{%static 'img/cuidado-dental.svg' %}">
                             <div class="flex-icon"><span  style=" color:#00AB9B !important; font-weight:600;font-size:.9rem !important; text-align:center !important;">Consultas Odonto</span>
                          </span>
                          </span>
                          </div>
                       </a>
                    </li>
                    <li>
                      <a href="{% url 'pesquisarClinicas' tipo_clinica='Clínica' %}  "> <span class="box-icon d-flex align-items-center justify-content-center ">
                          <img style="max-height:7rem; margin-right:.4rem;" class="p-1" src="{%static 'img/diagnostico.svg' %}">
                          <div class="flex-icon"><span  style="color:#00AB9B !important; font-weight:600;font-size:.9rem !important; text-align:center !important;">Clínicas e Laboratórios</span>
                       </span>
                       </span>
                       </div>
                      </a>
                    </li>
                    <li>
                      <a href="{% url 'pesquisarClinicas' tipo_clinica='Emergência' %}  ">
                      <span class="box-icon d-flex align-items-center justify-content-center ">
                         <img style="max-height:7rem; margin-right:.4rem;" class="p-1" src="{%static 'img/ambulancia.svg' %}">
                         <div class="flex-icon"><span  style="color:#00AB9B !important; font-weight:600;font-size:.9rem !important; text-align:center !important;">Urgências e Emergências</span>
                      </span>
                      </span>
                      </div>
                    </a>
                   </li>
                 </div>

                 <div class="d-none">
                 <input type="text" id="estado_input" placeholder="Selecione um Estado" value="{{ request.GET.estado }}">
                 <ul id="estado_list"></ul>
               
                 <input type="text" id="especialidade_input" placeholder="Especialidade ou Nome" value="{{ request.GET.especialidade }}{{ request.GET.nome }}{{ request.GET.tipo_profissional }}">
                 <ul id="especialidade_list"></ul>
                 
                 <button id="search_button" style="background:#00a2ff;">Pesquisar</button>
                 </div>
              </div>
           </div>
        </div>
        <div class="col-md-6 col-12 text-block  container-form d-none">
           <img src="{%static 'img/bela-jovem-doutora-olhando-a-camera-no-escritorio-removebg-preview.png' %}">
        </div>
     
  </div>
</div>
</div>






       

        

        <div style="display:none;" id="index-main">

          <div class="container">
            <div class="main" style="position:relative;" >
                <div class="icon-medico">

                    <img  src="/assets/image/stethoscope.png">

                </div>
            <p style="font-size: 1.2rem; text-align: center; padding:2.5rem;">
           
                Você, Médico, merece foco que realmente importa: a saúde dos seus pacientes. Deixe a Senem Contabilidade cuidar do seu bem-estar financeiro.

            </p>  
            </p>
          </div>
          </div>


        </div>

        <div id="index2" style="display:none;" >
            <div class="container">
        
              <p>
                
                A Senem Contabilidade é sua parceira na jornada para a sustentabilidade financeira. Queremos que você alcance novos patamares de sucesso profissional, enquanto desfruta de tranquilidade em relação a sua empresa.</p>
            <div class=" grid-cards" style="display: grid; grid-template-columns: 1fr 1fr 1fr; gap:1rem;">
                
             
                <div class="card" style="width: 100%;">
                  <div class="card-img">
                    <img src="/assets/image/freedom (2).png">
                  </div>
                    <div class="card-body">
                      <h5 class="card-title">Liberdade para Cuidar:  </h5>
                     
                        <p>Nossos serviços de contabilidade especializados em saúde liberam seu tempo e energia para você fazer o que faz de melhor: cuidar dos pacientes. Deixe-nos lidar com os números, enquanto você faz a diferença.</p>
                      
                       
                    
                   
                    </div>
                  </div>


          <div class="card" style="width: 100%;">
            <div class="card-img">
              <img src="/assets/image/agreement (1).png">
            </div>
            <div class="card-body">
              <h5 class="card-title">Conformidade sem Preocupações:</h5>
             
              <p>As complexidades fiscais e regulatórias podem ser um labirinto. Mantenha-se tranquilo, sabendo que sua prática está sempre em conformidade.</p>
              
            </div>
          </div>

          <div class="card" style="width: 100%;">
            <div class="card-img">
              <img src="/assets/image/money-flow (1).png">
            </div>
            <div class="card-body">
              <h5 class="card-title">Lucratividade Aprimorada:</h5>
             <p>
              Através de análises e estratégias personalizadas, nós otimizamos suas finanças. Você não apenas economizará dinheiro, mas também descobrirá novas oportunidades para aumentar seus ganhos.
                </p>
             
            </div>
          </div>

            </div>
        </div>
       
        </div>


       
    <script src="{%static 'js/main.js'%}">
    </script>
    {%endblock%}

 