{% extends "core/base.html" %}

{%load static%}

{% block 'conteudo' %}


<!-- Modal com todos os convênios -->
<div class="modal fade" id="conveniosModal-{{ profissional.id }}" tabindex="-1" aria-labelledby="conveniosModalLabel-{{ profissional.id }}" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="conveniosModalLabel-{{ profissional.id }}">Convênios</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {%for convenio in profissional.convenios.all%}
        <span style="margin-right: .5rem !important; text-decoration:underline;">{{ convenio.nome }}</span>
        {%endfor%}
      </div>

    </div>
  </div>
</div>

<!-- Modal com todos os convênios -->
<div class="modal fade" id="especialidadesModal-{{ profissional.id }}" tabindex="-1" aria-labelledby="especialidadesModalLabel-{{ profissional.id }}" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="especialidadesModalLabel-{{ profissional.id }}">Convênios</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {%for especialidade in profissional.especialidades.all%}
        <span style="margin-right: .5rem !important; text-decoration:underline;">{{ especialidade.nome }}</span>
        {%endfor%}
      </div>

    </div>
  </div>
</div>
  
 <div class="fluid-container fluid-profissional" style="padding:.7rem 0; background:#e2e2e2 !important; display:none;">

  <div class="container d-flex justify-content-between align-items-center">
<i style="font-size:2rem !important; cursor:pointer;" onclick="goBack()" class="bi bi-arrow-left-short"></i> <span>Dr.&nbsp;{{profissional.nome}}</span> <div class="d-flex justify-content-center align-items-center" style="gap:.5rem;">
  <i  style="font-size:1.2rem" class="bi bi-share-fill"></i>


    <!-- Script JavaScript -->
    <script>
    function goBack() {
        window.history.back();
    }
    </script>
  <i style="color:#00ae9d !important; font-size:1.2rem;" class="bi bi-heart-fill"></i>

</div>
</div>
 </div>
<div class="fluid-container d-flex flex-column" style=" flex-grow:1; background:#FAFAFA;">
<div class="mainPerfil   justify-content-center" style="gap:2rem; flex-grow:1;">
  <div class="perfilDiv" style="background:#fff; width:50%;
  ">


  <!-- Modal com todos os convênios -->
  <div class="modal fade" id="conveniosModal-{{ profissional.id }}" tabindex="-1" aria-labelledby="conveniosModalLabel-{{ profissional.id }}" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="conveniosModalLabel-{{ profissional.id }}">Convênios</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          {%for convenio in profissional.convenios.all%}
          <span style="margin-right: .5rem !important; text-decoration:underline;">{{ convenio.nome }}</span>
          {%endfor%}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>

    
 <div class="fluid-container d-flex justify-content-center align-items-center" style="background:gray">
  <div class="container">
  </div>
</div>  
<div class="perfil-container d-flex flex-column justify-content-center">
  <div class="d-flex" style="gap:1rem; width:100%; background:#F0F0F0 !important; padding:1.5rem 1.5rem .6rem;">
     <img class="profImg" style=" object-fit:cover; border-radius:4px;" src="{{ profissional.foto.url }}">
     <div class="d-flex flex-column">
        <span style="font-size:1.1rem !important; font-family:'Arial' !important; font-weight:600 !important;">Dr. {{ profissional.nome }} {{profissional.sobrenome}}</span>
       
        <div class="d-flex">
          
          <div class="d-flex especialidadeFlex ">
            {% for especialidade in profissional.especialidades.all %}
            {% if forloop.counter < 2 %}
            <span class="span-prof" style="color:#555 !important;margin-right: .5rem !important; text-decoration:none; font-family:'DaxBold !important'; font-weight:400;">{{ especialidade.nome }}</span>
            {% endif %}
            {% endfor %}
            {% if profissional.especialidades.all.count > 1 %}
            <a class="span-prof" href="#" style="text-decoration: underline !important; font-size:1rem; font-weight:600; margin-left:.5rem;" data-bs-toggle="modal" data-bs-target="#especialidadesModal-{{ profissional.id }}">Ver mais</a>
            {% endif %}
         </div>
         


        </div>
        {%if profissional.codigo%}
        <span class="span-prof">Registro:&nbsp;CRM&nbsp;{{profissional.codigo}}</span>
        {%endif%} 
        {%load floor%}
        <span style="font-size:1rem; color:#000 !important;">
           <span>
              <div class="rating-display d-flex align-items-center">
                 <div class="rating">
                    {%for avaliacao in avaliacoes %}
                    {%endfor%}
                    {% for star in stars %}
                    {% if star == "full" %}
                    <span style="font-size:1.7rem !important;" class="star2 full">&#9733;</span>
                    {% elif star1 == "half" %}
                    <span style="font-size:1.7rem !important;" class="star2 half">&#189;</span>
                    {% else %}
                    <span style="font-size:1.7rem !important;" class="star2">&#9734;</span>
                    {% endif %}
                    {% endfor %}
                 </div>
                 &nbsp;<span class="totalAV">{{ total_avaliacoes }} opiniões</span>
           </span>
           </div> 
        </span>
        <div class="d-flex mb-2 convenioFlex">
           {% for convenio in profissional.convenios.all %}
           {% if forloop.counter < 2 %}
           <span class="span-prof" style="margin-right: .5rem !important; text-decoration:underline;">{{ convenio.nome }}</span>
           {% endif %}
           {% endfor %}
           {% if profissional.convenios.all.count > 1 %}
           <a class="span-prof" href="#" style="text-decoration: underline !important; font-size:1rem; font-weight:600; margin-left:.5rem;" data-bs-toggle="modal" data-bs-target="#conveniosModal-{{ profissional.id }}">Ver mais</a>
           {% endif %}
           
        </div>
        <!-- Modal com todos os convênios -->
       
      </div>
    
  </div>
  <div class="contato-div2" 
  style=" border-radius:12px; filter: drop-shadow(2px 4px 6px #DBDBDB); height:fit-content; display:none;">
  <div class='d-flex align-items-center w-100' style="gap:1rem;">
  {%if user.is_authenticated%}
  
</div>
<div class="d-flex  justify-content-start align-items-center" style="gap:1rem; max-width:100%; 
  padding:1.3rem 1rem 0;">
  <div class="d-flex valor-mobile flex-column justify-content-start text-end"> <span class="span-prof">Valor reduzido da consulta:</span>
  <span style="color:#00ae9d !important; font-weight:600;white-space: nowrap;">R$ 180,00</span></div>
      <a class="agendamento-btn p-2 text-center" data-phone="{{ profissional.telefone }}" data-nome="{{profissional.nome}}" style="display: flex; align-items: center; justify-content:center; gap: 0.5rem; background:#00ae9d;width:10rem; max-width:100%; border-radius:4px; color:#fff; font-weight:600;" href="{{profissional.telefone}}"><i class="bi bi-whatsapp"></i> Agendar</a>
                  {%else%}
                  <div class="d-flex  justify-content-start align-items-center" style="gap:1rem; max-width:100%; 
                  padding:1.3rem 1rem 0;">
                  <div class="d-flex valor-mobile flex-column justify-content-start text-end"> <span class="span-prof">Valor reduzido da consulta:</span>
                  <span style="color:#00ae9d !important; font-weight:600;white-space: nowrap;">R$ 180,00</span></div>
                      <a class=" p-2 text-center" style="display: flex; align-items: center; justify-content:center; gap: 0.5rem; background:#00ae9d; max-width:100%; width:10rem; border-radius:4px; color:#fff; font-weight:600;" href="{% url 'login' %}"><i class="bi bi-whatsapp"></i> Agendar</a>
                  {%endif%}
  </div>
</div>
  </div>
  <div class="tab-container container mb-3">
    <div class="wrapper " style="overflow-x: auto;">

    <div class="tab-buttons mb-3 mt-3 d-flex justify-content-center" style="gap:1rem;">
      <a style="background:none;font-weight: 600 !important; border:none; text-decoration:none; color:#A9A9A9;" class="tab-button active" onclick="showTab(0)">Consultórios</a>
      <a style="background:none;font-weight: 600 !important; border:none; text-decoration:none; color:#A9A9A9;" class="tab-button" onclick="showTab(1)">Serviços</a>
      <a style="background:none;font-weight: 600 !important; border:none; text-decoration:none; color:#A9A9A9;" class="tab-button" onclick="showTab(2)">Opiniões</a>
      <a style="background:none;font-weight: 600 !important; border:none; text-decoration:none; color:#A9A9A9;" class="tab-button" onclick="showTab(3)">Dúvidas</a>
      <a style="background:none;font-weight: 600 !important; border:none; text-decoration:none; color:#A9A9A9;" class="tab-button" onclick="showTab(4)">Experiência</a>

   
      
    </div>
  </div>
    <div class="tab-content">
      <div class="tab-pane active">
        <div class="d-flex justify-content-center align-items-start flex-column w-100 mt-4">

          <div class="d-flex flex-column align-items-center justify-content-center mt-3">
          <span class="w-100 d-flex text-start justify-content-start mb-3" style="font-size:1.2rem; font-weight:600; color:#555 !important;">Endereços:</span>
       
        {%for endereco in profissional.enderecos.all%}

       
        <div style="max-width:25rem !important;" class="mb-3 text-start">
          <span  ><i class="bi bi-geo-alt-fill"></i>&nbsp;{{endereco.rua}},{%if endereco.complemento %}&nbsp;{{endereco.complemento}},{%endif%}&nbsp;{{endereco.bairro.nome}},
        &nbsp;{{endereco.cidade.nome}}&nbsp;-&nbsp;{{endereco.estado.nome}}</span>
       
        


        {%if endereco.latitude != None and endereco.longitude != None %}
        <a href="#" class="showMapModal"  data-latitude="{{ endereco.latitude }}" 
        data-longitude="{{ endereco.longitude }}" style="text-decoration: underline !important; font-size:1rem; font-weight:600; margin-left:.5rem;">Ver Mapa</a>
  

        {%endif%}
        </div>
        {%endfor%}
        </div>


          
    </div>
    <div class=" w-100 d-flex justify-content-center align-items-start flex-column mt-4">
      <span class=" d-flex text-start justify-content-start mb-3" style="font-size:1.2rem; font-weight:600; color:#555 !important;">Idiomas:</span>
  {%for idioma in profissional.idiomas.all%}
  <span class="mb-3"><i class="bi bi-translate"></i>&nbsp;{{idioma}}</span>

  {%endfor%}
    </div>
    {%if profissional.servicos.exist%}
    <div class="d-flex flex-column w-100 align-items-start justify-content-start mt-4 mb-3">
      <span class="w-100 d-flex text-start justify-content-start mb-3" style="font-size:1.2rem; font-weight:600; color:#555 !important;">Serviços:</span>
      {%for servico in profissional.servicos.all %}
      <span class="text-start"><i class="bi bi-heart-pulse-fill"></i>&nbsp;{{servico.nome}}</span>
      {%endfor%}

    </div>
    {%endif%}




    <div class="d-flex flex-column align-items-start w-100 justify-content-center mt-4 mb-3">
      <span class="w-100 d-flex text-start justify-content-start mb-2" style="font-size:1.2rem; color:#555 !important; font-weight:600; color:#555 !important;">Experiência:</span>
      <span class="text-start">{{profissional.descricao}}</span>

    </div>



    {%if profissional.galeria.all.exists%}

    <div class="mt-4 d-flex justify-content-center align-items-start flex-column w-100">
      
      <span class="w-100 d-flex text-start justify-content-start mb-3 fw-bold" style="font-size:1.2rem; color:#555 !important; font-weight:600;">Galeria de Fotos:</span>
   <div class="w-100 justify-content-center d-flex">
      <div class="grid-foto" style="display:grid; grid-template-columns:1fr 1fr 1fr; gap:1rem;">
      {%for foto in profissional.galeria.all%}
    
      <!-- Exemplo de HTML -->
      <a data-fancybox="gallery" href="{{foto.imagem.url}}">
        <img src="{{foto.imagem.url}}" style="width:8rem; height:8rem; object-fit:cover;" />
      </a>
      {%endfor%}
    </div>
  </div>



      <script type="text/javascript">
        $(document).ready(function() {
          $('[data-fancybox="gallery"]').fancybox({
            afterLoad: function(instance, slide) {
              slide.$image.css({
                'object-fit': 'cover',
                'width': '100%',
                'height': '100%'
              });
            }
          });
        });
      </script>
      
    </div>
    {%endif%}
      </div>
      <div class="tab-pane ">
        <div class="d-flex flex-column justify-content-center align-items-start w-100 justify-content-center mt-4 mb-3">
          <span class="w-100 d-flex text-center justify-content-start mb-3" style="font-size:1.2rem; font-weight:600; color:#555 !important;">Serviços:</span>
          {%for servico in profissional.servicos.all %}
          <span class="text-center"><i class="bi bi-heart-pulse-fill"></i>&nbsp;{{servico.nome}}</span>
          {%endfor%}
    
        </div>
    </div>
      <div class="tab-pane ">
        <span class="mt-4 text-start w-100" style="font-weight: 600 !important; color:#555 !important; font-size:1.2rem !important; color:#555 !important;">Avaliações</span>
        {%if avaliacoes%}
        <div class="d-flex mt-3 w-100 justify-content-center align-items-start flex-column">

        <div class="avaliacoes w-100  d-flex justify-content-center align-items-start flex-column">

          <!-- As avaliações serão carregadas aqui via JavaScript -->
        </div>
      </div>
      {%endif%}
      
        {% load user_tags %}
        {% if user.is_authenticated %}
          {% if is_cliente %}
            <form class="d-flex flex-column align-items-center justify-content-center" style="gap:.5rem;" method="post">
              
              {% csrf_token %}
              <input type="hidden" name="action" value="send_avaliacao">

              <label for="rating">Avaliação: </label>
              <div class="rating" id="stars">
                <span class="star2" data-value="1">☆</span>
                <span class="star2" data-value="2">☆</span>
                <span class="star2" data-value="3">☆</span>
                <span class="star2" data-value="4">☆</span>
                <span class="star2" data-value="5">☆</span>
                <input type="hidden" id="ratingInput" name="rating">
              </div>
              <label for="descricao">Descrição (Opcional): </label>
              <textarea name="descricao"></textarea>
              <button style="
              background: #18B696;
              color: #fff;
              border:none;
              outline:none;
              border-radius: 4px;
              font-weight: 600; width:100%;" type="submit">Avaliar</button>
            </form>
          {% else %}
            <span class="mt-3 mb-4">Apenas clientes podem avaliar</span>
          {% endif %}
        {% else %}
          <span class="mt-3 mb-4"> Você precisa estar logado para avaliar </span>
        {% endif %}
      </div>
      
      <div class="tab-pane">
        <span class="mt-4 text-start w-100" style="font-size:1.2rem !important; color:#555 !important; font-weight: 600 !important;">Perguntas</span>
        {% if tem_respostas %}
        <div class="perguntas w-100 d-flex justify-content-center flex-column align-items-start">
          <!-- Perguntas serão inseridas aqui pelo JavaScript -->
      </div>
      {%endif%}
        {% if user.is_authenticated %}
          {% if is_cliente %}
          <form class="d-flex flex-column align-items-center justify-content-center" style="gap:.5rem;" method="post">
            {% csrf_token %}
          <input type="hidden" name="action" value="send_pergunta">
          <input type="text" name="pergunta">
          <button style="
          background: #18B696;
          color: #fff;
          border:none;
          outline:none;
          border-radius: 4px;
          font-weight: 600; width:100%;" type="submit">Enviar Pergunta</button>
      </form>

      {%else%}
      <span class="mt-3 mb-4">Apenas clientes podem perguntar</span>
      {%endif%}

      {%else%}
      <span class="mt-3 mb-4"> Você precisa estar logado para perguntar</span>
      {%endif%}
      </div>

      <div class="tab-pane ">
        <div class="d-flex flex-column align-items-center justify-content-center mt-4">
          <span class="w-100 d-flex text-start justify-content-start mb-3" style="font-size:1.2rem; color:#555 !important; font-weight:600;">Experiência:</span>
          <span class="text-start">{{profissional.descricao}}</span>
    
        </div>
      </div>




    </div>
  </div>
 
</div>
<div class="p-4 contato1"
style="width:20%; background:#fff; border-radius:12px; filter: drop-shadow(2px 4px 6px #DBDBDB); height:fit-content;">
<div class='d-flex flex-column align-items-center w-100' style="gap:1rem;">
  <div class="d-flex justify-content-start align-items-center" style="gap:1rem; max-width:100%; border-top: dashed 2px gray;
                padding-top: 1.3rem;">
                <div class="d-flex valor-mobile flex-column justify-content-start text-end"> <span>Valor reduzido da consulta:</span>
                <span style="color:#00ae9d !important; font-weight:600;">R$ 180,00</span></div>
{%if user.is_authenticated%}
<div class="d-flex justify-content-start align-items-center" style="gap:1rem; max-width:100%; border-top: dashed 2px gray;
              padding-top: 1.3rem;">
            
                <a class="agendamento-btn p-2 text-center" data-phone="{{ profissional.telefone }}" data-nome="{{profissional.nome}}" style="display: flex; align-items: center; justify-content:center; gap: 0.5rem; background:#00ae9d;width:10rem; max-width:100%; border-radius:4px; color:#fff; font-weight:600;" href="{{profissional.telefone}}"><i class="bi bi-whatsapp"></i> Agendar</a>
                {%else%}
                
                  <a class=" p-2 text-center" style="display: flex; align-items: center; justify-content:center; gap: 0.5rem; background:#00ae9d;width:10rem; max-width:100%; border-radius:4px; color:#fff; font-weight:600;" href="{% url 'login' %}"><i class="bi bi-whatsapp"></i> Agendar</a>
                {%endif%}
</div>
</div>


</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    let currentPage = 1;
  
    let profissional_id = "{{ profissional.id }}";  // Supondo que você tenha essa variável disponível no template
    let page = 1;
    let baseUrl = window.location.origin;
  
    async function fetchAvaliacoes(page) {
      const response = await fetch(`/perfil/${profissional_id}/?page=${page}`, {
        headers: {
          'Accept': 'application/json',
          'User-Agent': 'fetch'
        }
      });
  
      if (!response.ok) {
        console.error("Algo deu errado:", response.status, response.statusText);
        return;
      }
  
      const data = await response.json();
      const avaliacoesDiv = document.querySelector(".avaliacoes");
      avaliacoesDiv.innerHTML = "";
      
      data.avaliacoes.forEach(avaliacao => {
        const avaliacaoDiv = document.createElement("div");
        avaliacaoDiv.classList.add("avaliacao", "mb-3", "d-flex", "flex-column", "align-items-center", "justify-content-center");
  
        const profileDiv = document.createElement("div");
        profileDiv.classList.add("d-flex");
        profileDiv.style.gap = ".5rem";
  
        const profilePicDiv = document.createElement("div");
        profilePicDiv.classList.add("profile-pic");
        const img = document.createElement("img");
        img.style.borderRadius = "4px";
        img.style.height = "1.5rem";
        img.style.width = "1.5rem";
        img.style.objectFit = "cover";
        img.src = avaliacao.cliente.foto.url;
        profilePicDiv.appendChild(img);
  
        const nameDiv = document.createElement("div");
        const nameSpan = document.createElement("span");
        nameSpan.style.fontWeight = '600';
        nameSpan.textContent = avaliacao.nome;
        nameDiv.appendChild(nameSpan);
  
        profileDiv.appendChild(profilePicDiv);
        profileDiv.appendChild(nameDiv);
  
        const starsDiv = document.createElement("div");
        starsDiv.classList.add("estrelas");
        for(let i = 1; i <= 5; i++) {
          const starSpan = document.createElement("span");
          starSpan.style.fontSize = "1.2rem";
          starSpan.style.color = "#2D77EA";
  
          if (i <= avaliacao.rating) {
            starSpan.innerHTML = "&#9733;";
          } else {
            starSpan.innerHTML = "&#9734;";
          }
  
          starsDiv.appendChild(starSpan);
        }
  
        const descricaoDiv = document.createElement("div");
        descricaoDiv.classList.add("descricao");
        descricaoDiv.classList.add("text-center");
        descricaoDiv.style.wordBreak = 'break-word';
        descricaoDiv.style.maxWidth = '25rem';
        descricaoDiv.textContent = avaliacao.descricao;
  
        const dataDiv = document.createElement("div");
        dataDiv.classList.add("data");
        dataDiv.textContent = avaliacao.created_at;
  
        avaliacaoDiv.appendChild(profileDiv);
        avaliacaoDiv.appendChild(starsDiv);
        avaliacaoDiv.appendChild(descricaoDiv);
        avaliacaoDiv.appendChild(dataDiv);
  
        avaliacoesDiv.appendChild(avaliacaoDiv);
      });
      const containerPage = document.createElement("div");
      containerPage.classList.add("d-flex", "mb-3", "containerPage");
      avaliacoesDiv.appendChild(containerPage)

      
      if (currentPage > 1) {
        const prevButton = document.createElement("button");
        prevButton.textContent = "<";
        prevButton.classList.add("pageBtn", "p-2");
        prevButton.addEventListener("click", () => {
          fetchAvaliacoes(--currentPage);
        });
        containerPage.appendChild(prevButton);
      }
  
      if (data.has_next_avaliacoes) {
        const nextButton = document.createElement("button");
        nextButton.classList.add("pageBtn", "p-2");
        nextButton.textContent = ">";
        nextButton.addEventListener("click", () => {
          fetchAvaliacoes(++currentPage);
        });
        containerPage.appendChild(nextButton);
      }
    }
    
    

    fetchAvaliacoes(currentPage);
  });
  
</script>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    let currentPerguntasPage = 1;
    let profissional_id = "{{ profissional.id }}";  // Supondo que você tenha essa variável disponível no template
    let baseUrl = window.location.origin;

    async function fetchPerguntas(page) {
      const response = await fetch(`/perfil/${profissional_id}/?page_perguntas=${page}`, {
        headers: {
          'Accept': 'application/json',
          'User-Agent': 'fetch'
        }
      });

      if (!response.ok) {
        console.error("Algo deu errado:", response.status, response.statusText);
        return;
      }

      const data = await response.json();
      const perguntasDiv = document.querySelector(".perguntas");
      perguntasDiv.innerHTML = "";

      data.perguntas.forEach(pergunta => {
      
        const perguntaDiv = document.createElement("div");
        perguntaDiv.classList.add("pergunta", "mb-5", "d-flex", "w-100", "flex-column", "align-items-start", "justify-content-center");


        const flexDiv = document.createElement("div");
        const flexDivProf = document.createElement("div");
        const respostaDiv = document.createElement("div");
        const profNome = document.createElement("span")
        const clienteImg = document.createElement("img");
        const textoDiv = document.createElement("div");
        const textoSpan = document.createElement("span");
        const nomeSpan = document.createElement("span");
        const respostaSpan = document.createElement("span")
        
        flexDiv.classList.add("d-flex", "align-items-center", "justify-content-center");
        flexDiv.style.gap = "1rem";
        flexDivProf.classList.add("d-flex", "align-items-center", "justify-content-center");
        flexDivProf.style.gap = "1rem";
        textoDiv.classList.add("d-flex", "flex-column", "align-items-center", "justify-content-center");
        textoDiv.style.gap = "1rem";
        textoSpan.textContent = pergunta.pergunta;
        respostaSpan.textContent = pergunta.resposta;
        nomeSpan.textContent = pergunta.nome;
        profNome.textContent = pergunta.profissional_nome;
        textoDiv.appendChild(textoSpan);
        flexDiv.appendChild(nomeSpan);
        flexDivProf.appendChild(profNome);
        flexDiv.appendChild(clienteImg);
        respostaDiv.appendChild(respostaSpan);
        perguntaDiv.appendChild(flexDiv);
        perguntaDiv.appendChild(textoDiv);
        perguntaDiv.appendChild(flexDivProf);
        perguntaDiv.appendChild(respostaDiv);
        
        

        perguntasDiv.appendChild(perguntaDiv);
      });
    

      const containerPage = document.createElement("div");
      containerPage.classList.add("d-flex", "mb-5", "containerPage");
      perguntasDiv.appendChild(containerPage);

      if (currentPerguntasPage > 1) {
        const prevButton = document.createElement("button");
        prevButton.textContent = "<";
        prevButton.classList.add("pageBtn", "p-2");
        prevButton.addEventListener("click", () => {
          fetchPerguntas(--currentPerguntasPage);
        });
        containerPage.appendChild(prevButton);
      }

      if (data.has_next_perguntas) {
        const nextButton = document.createElement("button");
        nextButton.textContent = ">";
        nextButton.classList.add("pageBtn", "p-2");
        nextButton.addEventListener("click", () => {
          fetchPerguntas(++currentPerguntasPage);
        });
        containerPage.appendChild(nextButton);
      }
    }

    fetchPerguntas(currentPerguntasPage);
  });
</script>


<script>
  document.addEventListener("DOMContentLoaded", function() {
    let agendamentoBtns = document.querySelectorAll('.agendamento-btn');
    agendamentoBtns.forEach(function(button) {
        button.addEventListener('click', function(event) {
            event.preventDefault();
            let rawPhone = this.getAttribute('data-phone');
            let rawNome = this.getAttribute('data-nome');
            let formattedPhone = rawPhone.replace('+', '');
            
            window.location.href = `https://api.whatsapp.com/send?phone=${formattedPhone}&text=Olá ${rawNome}! Vim por meio do SaúdeBras e gostaria de saber mais sobre seu atendimento`;
        });
    });
});

</script>


</div>
<!-- Mapa Modal -->
<div class="modal fade" id="mapModal" tabindex="-1" aria-labelledby="mapModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="mapModalLabel">Localização</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="map" style="height: 400px; width: 100%;"></div>
      </div>
    </div>
  </div>
</div>

<script>
  let map;
  let marker;
  
  function initMap() {
    const initialPos = { lat: -23.550520, lng: -46.633308 }; // Coordenadas de São Paulo como exemplo
  
    map = new google.maps.Map(document.getElementById("map"), {
      center: initialPos,
      zoom: 15,
    });
  }
  
  document.addEventListener("DOMContentLoaded", function () {
    const buttons = document.querySelectorAll(".showMapModal");
  
    buttons.forEach(function (button) {
      button.addEventListener("click", function () {
        let latitude = parseFloat(this.getAttribute("data-latitude").replace(",", "."));
        let longitude = parseFloat(this.getAttribute("data-longitude").replace(",", "."));
        showMapModal(latitude, longitude);
      });
    });
  });

  function showMapModal(latitude, longitude) {
    const position = { lat: latitude, lng: longitude };
  
    map.setCenter(position);
  
    if (marker) {
      marker.setPosition(position);
    } else {
      marker = new google.maps.Marker({
        position,
        map,
      });
    }
  
    const mapModal = new bootstrap.Modal(document.getElementById('mapModal'));
    mapModal.show();
  }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBLZ8D6WJwaCql2h4-UGjibK4tx9MhZmXE&callback=initMap"></script>


<script>

  function showTab(index) {
    const tabButtons = document.querySelectorAll('.tab-button');
    const tabPanes = document.querySelectorAll('.tab-pane');
  
    tabButtons.forEach((btn, i) => {
      btn.classList.remove('active');
      tabPanes[i].classList.remove('active');
    });
  
    tabButtons[index].classList.add('active');
    tabPanes[index].classList.add('active');
  }



</script>

<script>
  document.addEventListener('DOMContentLoaded', (event) => {
    const stars = document.querySelectorAll('.star2');
    const ratingInput = document.getElementById('ratingInput');
    let selectedRating = 0;
    
    // Define o valor inicial para string vazia ou 0
    ratingInput.value = '';

    stars.forEach((star, index) => {
        star.addEventListener('mouseover', function() {
            highlightStars(index);
        });
    });

    document.getElementById('stars').addEventListener('mouseout', function() {
        highlightStars(selectedRating - 1);
    });

    stars.forEach((star) => {
        star.addEventListener('click', function() {
            const value = this.getAttribute('data-value');
            selectedRating = value;

            // Atualiza a aparência das estrelas
            stars.forEach((s, index) => {
                if (index < value) {
                    s.classList.add('selected');
                } else {
                    s.classList.remove('selected');
                }
            });

            // Atualiza o valor do input oculto
            ratingInput.value = value;
        });
    });

    function highlightStars(index) {
        for (let i = 0; i <= index; i++) {
            stars[i].style.color = '#2D77EA';
        }
        for (let i = index + 1; i < stars.length; i++) {
            stars[i].style.color = stars[i].classList.contains('selected') ? '#2D77EA' : 'black';
        }
    }
});

</script>
  <!-- E assim por diante, para todos os campos que você quer mostrar -->

{% endblock %}