{%extends 'core/base.html'%}
{%load static%}
{%block 'conteudo'%}
<div class="container d-flex" style="flex-grow:1;">
    <div class="div-parte1 w-100">
<form id="regForm"  method="post" action="{% url 'registerCliente'  %}">
   {% csrf_token %}
   <h3 class="mb-4 text-start" style="color:#00ae9d !important;">Cadastro do Paciente</h3>
   <!-- One "tab" for each step in the form: -->
   <div class="tab">
    <p style="color:#6D6875 !important">Informe seus dados e junte-se a nós para ter acesso a saúde de qualidade a preços acessíveis.</p>

      <p><input  style="border-radius:4px; border: solid 1px #000 !important;" type="text" placeholder="Nome Completo" oninput="this.className = ''" name="nome"></p>
      <p><input  style="border-radius:4px; border: solid 1px #000 !important;" type="text" id="cpfId" placeholder="C.P.F" oninput="maskCPF(this)" oninput="this.className = ''" name="username"></p>
      <p><input  style="border-radius:4px; border: solid 1px #000 !important;" type="email" id="emailId" placeholder="E-mail" oninput="this.className = ''" name="email"></p>
      <p><input style="border-radius:4px; border: solid 1px #000 !important;" type="tel"   id="phone1" placeholder="Celular/Whatsapp" oninput="this.className = ''" name="telefone"></p>
      <p class="my-4">
        <select style="border-radius:4px; border: solid 1px #000 !important; padding:10px; outline:none; font-size:17px; color:#767575; -webkit-appearance: none; -moz-appearance: none; appearance: none;" 
                class="w-100" id="genderSelect" name="gender">
          <option style="color:#767575 !important;" value="" selected disabled hidden>Gênero</option>
          <option style="color:#767575 !important;" value="male">Masculino</option>
          <option style="color:#767575 !important;" value="female">Feminino</option>
        </select>
      </p>

      <div style="display: flex; align-items: center; gap: 2rem;">
        <input class="d-flex justify-content-center text-center" type="text" placeholder="DDD" name="ddd" maxlength="2"
               style="border-radius: 4px; border: solid 1px #000; padding: 10px; font-size: 17px; width: 60px; margin-right: 10px;">
        <input type="tel" placeholder="Celular/Whatsapp" name="telefone" 
               pattern="[0-9]{4,5}-[0-9]{4}" maxlength="10"
               style="border-radius: 4px; border: solid 1px #000; padding: 10px; font-size: 17px; flex: 1;">
      </div>
    
   </div>


   <script>
    function maskCPF(cpfField) {
        var cpfValue = cpfField.value;
    
        // Limita a entrada a 14 caracteres
        cpfValue = cpfValue.slice(0, 14);
    
        // Remove tudo o que não é dígito
        cpfValue = cpfValue.replace(/\D/g, '');
    
        // Coloca ponto nos terceiros e sextos dígitos
        cpfValue = cpfValue.replace(/(\d{3})(\d)/, '$1.$2');
        cpfValue = cpfValue.replace(/(\d{3})(\d)/, '$1.$2');
    
        // Coloca traço antes do nono dígito
        cpfValue = cpfValue.replace(/(\d{3})(\d{1,2})$/, '$1-$2');
    
        // Atualiza o valor no campo
        cpfField.value = cpfValue;
    }
</script>
   <div class="tab">
    
      
    <p><input style="border-radius:4px; border: solid 1px #000 !important;" type="text" id="cep" placeholder="CEP" oninput="buscarCEP(this.value)" name="cep"></p>
    <p><input style="border-radius:4px; border: solid 1px #000 !important;" type="text" id="cidade" placeholder="Cidade"></p>
    <p><input style="border-radius:4px; border: solid 1px #000 !important;" type="text" id="logradouro" placeholder="Logradouro"></p>
    <p><input style="border-radius:4px; border: solid 1px #000 !important;" type="text" id="bairro" placeholder="Bairro"></p>
    <p><input style="border-radius:4px; border: solid 1px #000 !important;" type="text" id="complemento" placeholder="Complemento"></p>

    <script>
        function buscarCEP(cep) {
            cep = cep.replace(/\D/g, ''); // Remove caracteres não numéricos
            if (cep.length === 8) { // Verifica se o CEP tem 8 dígitos
                fetch(`https://viacep.com.br/ws/${cep}/json/`)
                    .then(response => response.json())
                    .then(data => {
                        if (data.erro) {
                            alert('CEP não encontrado.');
                            return;
                        }
                        document.getElementById('cidade').value = data.localidade;
                        document.getElementById('logradouro').value = data.logradouro;
                        document.getElementById('bairro').value = data.bairro; // Adiciona o bairro
                        document.getElementById('complemento').value = data.complemento;
                    })
                    .catch(error => console.error('Erro ao buscar o CEP:', error));
            }
        }
    </script>
        <script>
            function aplicaMascaraCEP(input) {
              let valor = input.value;
              
              // Remove tudo o que não é dígito
              valor = valor.replace(/\D/g, '');
              
              // Adiciona o hífen antes do último grupo de 3 dígitos
              valor = valor.replace(/^(\d{5})(\d)/, '$1-$2');
              
              // Limita o input a 9 caracteres
              valor = valor.substring(0, 9);
              
              input.value = valor;
            }
            </script>
    <span   style="color:#6D6875 !important;"  class="fw-bold">Foto:</span>
    <p> <input style="border-radius:4px; color:#000; border: solid 1px #000 !important;" type="file" id="inputImage" name="foto" accept="image/*">

        <!-- Modal do Bootstrap para exibir a imagem -->
        <div class="modal fade" id="imageModal" tabindex="-1" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header d-flex justify-content-center align-items-center">
                <h5 class="modal-title text-center">Visualizar Imagem</h5>
              </div>
              <div class="modal-body d-flex justify-content-center align-items-center">
                <img id="previewImage" src="" style="max-width: 10rem; height:10rem; object-fit:cover; display: none;">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Salvar</button>
                <button type="button" id="changeButton" class="btn btn-primary">Trocar</button>

              </div>
            </div>
          </div>
        </div>
        
        <script>
            var inputImage = document.getElementById('inputImage');
            var previewImage = document.getElementById('previewImage');
            var imageModal = new bootstrap.Modal(document.getElementById('imageModal'));
            
            inputImage.addEventListener('change', function(e) {
                var files = e.target.files;
                if (files && files.length > 0) {
                    var file = files[0];
                    previewImage.src = URL.createObjectURL(file);
                    previewImage.onload = function() {
                        previewImage.style.display = 'block';
                        imageModal.show(); // Mostra o modal
                    };
                }
            });
            var changeButton = document.getElementById('changeButton');

            changeButton.addEventListener('click', function() {
                inputImage.click(); // Aciona o input de arquivo novamente
            });
            </script>
        
        
        <h3 class="mb-4 text-start" style="color:#00ae9d !important;">Cadastre sua Senha</h3>
        <ul>
            <li>
                <p style="color:#6D6875 !important; font-size:.9rem !important;">A senha deve conter mínimo de 8 caracteres;</p>

            </li>
            <li>
                <p style="color:#6D6875 !important; font-size:.9rem !important;">Pelo menos um caractere maiúsculo;</p>

            </li>
            <li>
                <p style="color:#6D6875 !important; font-size:.9rem !important;">Pelo menos um número e pelo menos um símbolo.</p>

            </li>

        </ul>   


       
          
 <div style="margin-bottom:2.2rem !important;" class="password-field d-flex align-items-center justify-content-center">
            <input style="padding:0 10px; border:none !important; outline:none !important;" type="password" id="password-input" name="password1" placeholder="Digite sua senha">
            <span class="p-2" onclick="togglePasswordVisibility('password-input', 'eye-icon')">
                <i style="font-size:17px !important;    " id="eye-icon" class="bi bi-eye-slash"></i>
            </span>
        </div>


        <div style="margin-bottom:2.2rem !important;" class="password-field d-flex align-items-center justify-content-center">
            <input style="padding:0 10px; border:none !important; outline:none !important;" type="password" id="confirm-password-input" name="password2" placeholder="Confirmar Senha">
            <span class="p-2" onclick="togglePasswordVisibility('confirm-password-input', 'confirm-eye-icon')">
                <i style="font-size:17px !important;    " id="confirm-eye-icon" class="bi bi-eye-slash"></i>
            </span>
        </div>

    </div>
        
        <script>
            function togglePasswordVisibility(inputId, iconId) {
                var passwordInput = document.getElementById(inputId);
                var eyeIcon = document.getElementById(iconId);
                
                if (passwordInput.type === "password") {
                    passwordInput.type = "text";
                    eyeIcon.classList.remove('bi-eye-slash');
                    eyeIcon.classList.add('bi-eye'); // Ícone de olho aberto
                } else {
                    passwordInput.type = "password";
                    eyeIcon.classList.remove('bi-eye');
                    eyeIcon.classList.add('bi-eye-slash'); // Ícone de olho fechado
                }
            }
        </script>


    



    
 
        
    
    


<div style="overflow:auto;">
    <div style="float:right;">
        <button   type="button" id="prevBtn" style="padding:.7rem 1.3rem !important; border-radius:4px; background:rgb(130 130 130) !important; color:#fff !important; font-weight:600 !important;" onclick="nextPrev(-1)">Voltar</button>
        <button  type="button" id="nextBtn" style="padding:.7rem 1.3rem !important; border-radius:4px; background:#00ae9d !important; color:#fff !important; font-weight:600 !important;" onclick="nextPrev(1)">Próximo</button>
    </div>
</div>

      <!-- Circles which indicates the steps of the form: -->
      <div style="text-align:center;margin-top:40px;">
         <span class="step"></span>
         <span class="step"></span>
         <span class="step"></span>
   
      </div>
</form>
</div>

</div>

<div class="container d-none justify-content-center mt-4 mb-4">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            {% for banner in banners %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                <img style="height:10rem !important; width:20rem!important; object-fit:cover !important;" src="{{ banner.foto.url }}" alt="{{ banner.nome }}">
            </div>
            {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    </div>
    <script>
    
        const carouselInner = document.querySelector('.carousel-inner');
        images.forEach((image, index) => {
            const isActive = index === 0 ? 'active' : '';
        
        });
                    </script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

<script>
   var currentTab = 0; // Current tab is set to be the first tab (0)
   showTab(currentTab); // Display the current tab
   
   function showTab(n) {
   // This function will display the specified tab of the form...
   var x = document.getElementsByClassName("tab");
   x[n].style.display = "block";
   //... and fix the Previous/Next buttons:
   if (n == 0) {
   document.getElementById("prevBtn").style.display = "none";
   } else {
   document.getElementById("prevBtn").style.display = "inline";
   }
   if (n == (x.length - 1)) {
   document.getElementById("nextBtn").innerHTML = "Enviar";
   } else {
   document.getElementById("nextBtn").innerHTML = "Próximo";
   }
   //... and run a function that will display the correct step indicator:
   fixStepIndicator(n)
   }
   
   function nextPrev(n) {
   // This function will figure out which tab to display
   var x = document.getElementsByClassName("tab");
   // Exit the function if any field in the current tab is invalid:
   if (n == 1 && !validateForm()) return false;
   // Hide the current tab:
   x[currentTab].style.display = "none";
   // Increase or decrease the current tab by 1:
   currentTab = currentTab + n;
   // if you have reached the end of the form...
   if (currentTab >= x.length) {
   // ... the form gets submitted:
   document.getElementById("regForm").submit();
   return false;
   }
   // Otherwise, display the correct tab:
   showTab(currentTab);
   }
   
   function validateForm() {
   // This function deals with validation of the form fields
   var x, y, i, valid = true;
   x = document.getElementsByClassName("tab");
   y = x[currentTab].getElementsByTagName("input");
   // A loop that checks every input field in the current tab:
   for (i = 0; i < y.length; i++) {
   // If a field is empty...
   if (y[i].value == "") {
     // add an "invalid" class to the field:
     y[i].className += " invalid";
     // and set the current valid status to false
     valid = false;
   }
   }
   // If the valid status is true, mark the step as finished and valid:
   if (valid) {
   document.getElementsByClassName("step")[currentTab].className += " finish";
   }
   return valid; // return the valid status
   }
   
   function fixStepIndicator(n) {
   // This function removes the "active" class of all steps...
   var i, x = document.getElementsByClassName("step");
   for (i = 0; i < x.length; i++) {
   x[i].className = x[i].className.replace(" active", "");
   }
   //... and adds the "active" class on the current step:
   x[n].className += " active";
   }

   document.addEventListener("DOMContentLoaded", function() {
    var checkboxes = document.querySelectorAll("input[type='checkbox'][name='especialidades[]']");
    checkboxes.forEach(function(checkbox) {
        checkbox.addEventListener("click", function() {
            // Forçar que a caixa de seleção permaneça marcada ou desmarcada como desejado
            this.checked = !this.checked ? false : true;
        });
    });
});



</script>


<script src="{%static 'js/form.js' %}"> </script>
{%endblock%}