{%extends 'core/base.html'%}
{%load static%}
{%block 'conteudo'%}
<div class="container d-flex" style="flex-grow:1;">
    <div class="div-parte1 d-flex align-items-center w-50">
<form id="regForm"  method="post" enctype="multipart/form-data" action="{% url 'registerClinica'  %}">
   {% csrf_token %}
   <h3 class="mb-4 text-center w-100" style="color:#6D6875 !important;">Perfil do Clínica:</h3>
   <!-- One "tab" for each step in the form: -->
   <div class="tab">
      Nome da Instituição:
      <p><input type="text" placeholder="Nome..." oninput="this.className = ''" name="nome"></p>
     
   </div>
   <div class="tab">
      Email:
      <p><input type="email" id="emailId" placeholder="E-mail..." oninput="this.className = ''" name="email"></p>
      Telefone:
      <p><input type="tel"  style="padding-left:3rem;" id="phone" placeholder="Telefone..." oninput="this.className = ''" name="telefone"></p>
      C.N.P.J:
      <p><input type="text" id="cpfId" placeholder="C.N.P.J..." oninput="this.className = ''" name="username"></p>
   </div>

   <div class="tab">
    Endereço:<br><br>
    CEP:
    <div class="d-flex flex-column justify-content-center align-items-center">
        <div class="d-flex flex-column justify-content-center align-items-center" id="cep-fields">
            <div class="cep-complemento-group">
                <input type="text" id="registerCEP" name="cep[]" placeholder="Digite o CEP">
                Complemento:
                <input type="text" name="complemento[]" id="complemento" placeholder="Complemento">
            </div>
        </div>
        <button class="mb-5" style="width:fit-content !important;" type="button" id="add-cep">+</button>
    </div>


<script>
document.getElementById('add-cep').addEventListener('click', function() {
    const newGroup = document.createElement('div');
    newGroup.className = 'cep-complemento-group';

    const newCepInput = document.createElement('input');
    newCepInput.type = 'text';
    newCepInput.name = 'cep[]';
    newCepInput.placeholder = 'Digite o CEP';

    const newComplementoField = document.createElement('input');
    newComplementoField.type = 'text';
    newComplementoField.name = 'complemento[]';
    newComplementoField.placeholder = 'Complemento';

    const newDeleteButton = document.createElement('button');
    newDeleteButton.type = 'button';
    newDeleteButton.className = 'delete-button';
    newDeleteButton.textContent = '🗑️';
    newDeleteButton.addEventListener('click', function() {
        newGroup.remove();
    });
    newGroup.appendChild(document.createTextNode(' CEP: '));
    newGroup.appendChild(newCepInput);
    newGroup.appendChild(document.createTextNode(' Complemento: '));
    newGroup.appendChild(newComplementoField);
    newGroup.appendChild(newDeleteButton);

    document.getElementById('cep-fields').appendChild(newGroup);
});
</script>

        
        
       
           
      
    </div>
    <div class="tab">
        Tipo Clínica:
        {% for tipo_clinica in tipos_clinicas %}
                    
                    
                        <div class="form-check medico" style="display: flex;
                        align-items: center;
                        justify-content: start;
                        padding-left: 0 !important;">
                            <input type="checkbox" style="margin:.5rem !important;"  class="form-check-input registrar-check" id="{{ tipo_clinica.id }}" name="tipo_clinica" value="{{ tipo_clinica.id }}">
                            <label class="form-check-label" for="{{ tipo_clinica.id }}">{{ tipo_clinica.nome }}</label>
                        </div>
                   
                   
                {% endfor %}
    </div>
   <div class="tab">

    Tipo Profissional:
    {% for tipo_profissional in tipos_profissionais %}
                {% if tipo_profissional.nome == 'Médico' %}
                
                    <div class="form-check medico" style="display: flex;
                    align-items: center;
                    justify-content: start;
                    padding-left: 0 !important;">
                        <input type="checkbox" style="margin:.5rem !important;"  class="form-check-input registrar-check medico_check" id="{{ tipo_profissional.id }}" onclick="changeMedico()" name="tipo_profissional" value="{{ tipo_profissional.id }}">
                        <label class="form-check-label" for="{{ tipo_profissional.id }}">{{ tipo_profissional.nome }}</label>
                    </div>
               
                {% endif %}
            {% endfor %}
            {% for tipo_profissional in tipos_profissionais %}
            {% if tipo_profissional.nome == 'Dentista' %}
            
                <div class="form-check medico" style="display: flex;
                align-items: center;
                justify-content: start;
                padding-left: 0 !important;">
                    <input type="checkbox" style="margin:.5rem !important;"  class="form-check-input registrar-check dentista_check" id="{{ tipo_profissional.id }}" onclick="changeDentista()" name="tipo_profissional" value="{{ tipo_profissional.id }}">
                    <label class="form-check-label" for="{{ tipo_profissional.id }}">{{ tipo_profissional.nome }}</label>
                </div>
           
            {% endif %}
        {% endfor %}
    <script>
        function uncheckAllCheckboxes(containerId) {
            const checkboxes = document.querySelectorAll(`#${containerId} input[type="checkbox"]`);
            checkboxes.forEach((checkbox) => {
                checkbox.checked = false;
            });
        }
        
        function toggleEspecialidadesLabel() {
            const deciderMedicos = document.querySelector('.medico_check').checked;
            const deciderDentistas = document.getElementById('switchDentistas').checked;
            const especialidadesLabel = document.getElementById('especialidadesLabel');
        
            if (deciderMedicos || deciderDentistas) {
                especialidadesLabel.style.display = 'inline';
            } else {
                especialidadesLabel.style.display = 'none';
            }
        }

        function changeMedico() {
            const deciderMedicos = document.querySelector('.medico_check');
            const convenioMedicos = document.getElementById('convenio_medico')
            const medicoEspecialidade = document.getElementById('espcialidadesMedicos');
            if(deciderMedicos.checked){
                medicoEspecialidade.style.display = 'block';
                convenioMedicos.style.display = 'block'
            } else {
                medicoEspecialidade.style.display = 'none';
                convenioMedicos.style.display = 'none';
                uncheckAllCheckboxes('espcialidadesMedicos');
            }
            toggleEspecialidadesLabel();
        }
        
        function changeDentista() {
            const deciderDentistas = document.querySelector('.dentista_check');
            const dentistaEspecialidade = document.getElementById('espcialidadesDentistas');
            const convenioDentistas = document.getElementById('convenio_dentista');
            if(deciderDentistas.checked){
                dentistaEspecialidade.style.display = 'block';
                convenioDentistas.style.display = 'block';
            } else {
                dentistaEspecialidade.style.display = 'none';
                convenioDentistas.style.display = 'none';
                uncheckAllCheckboxes('espcialidadesDentistas');
            }
            toggleEspecialidadesLabel();
        }

        

        
    </script>


    <div class="mb-3 mt-3" id="especialidadesDiv">
        <label for="especialidades" id="especialidadesLabel" style="display:none" class="form-label">Especialidades:</label>
        <div id="especialidades" style="max-height:12rem; overflow-y:scroll;">
            <!-- Checkbox para médicos -->
            <div id="espcialidadesMedicos" style="display:none;">
            {% for especialidade in especialidades %}
                {% if especialidade.tipo_profissional == 'Médico' %}
                
                    <div class="form-check medico" style="display: flex;
                    align-items: center;
                    justify-content: start;
                    padding-left: 0 !important;">
                        <input type="checkbox" style="margin:.5rem !important;"  class="form-check-input registrar-check" id="{{ especialidade.id }}" name="especialidades" value="{{ especialidade.id }}">
                        <label class="form-check-label" for="{{ especialidade.id }}">{{ especialidade.nome }}</label>
                    </div>
               
                {% endif %}
            {% endfor %}

            
                </div>
           <div id="espcialidadesDentistas" style=" display:none;">
            {% for especialidade in especialidades %}
                {% if especialidade.tipo_profissional == 'Dentista' %}
                
                    <div class="form-check medico" style="display: flex;
                    align-items: center;
                    justify-content: start;
                    padding-left: 0 !important;">
                        <input type="checkbox" style="margin:.5rem !important;"  class="form-check-input registrar-check" id="{{ especialidade.id }}" name="especialidades" value="{{ especialidade.id }}">
                        <label class="form-check-label" for="{{ especialidade.id }}">{{ especialidade.nome }}</label>
                    </div>
               
                {% endif %}
            {% endfor %}

            
                </div>         
                
        </div>
           
        </div>
    </div>


<div class="tab">
<div class="mb-3" id="IdiomasDiv">
    <label for="especialidades" class="form-label">Idiomas:</label>
    <div id="idiomas">
        <!-- Checkbox para médicos -->
        <div style="max-height:12rem; overflow-y:scroll;">
        {% for idioma in idiomas %}
          
            
                <div class="form-check" style="display: flex;
                align-items: center;
                justify-content: start;
                padding-left: 0 !important;">
                    <input type="checkbox" style="margin:.5rem !important;"  class="form-check-input registrar-check" id="{{ idioma.id }}" name="idiomas" value="{{ idioma.id }}">
                    <label class="form-check-label" for="{{ idioma.id }}">{{ idioma.nome }}</label>
                </div>
           
            
        {% endfor %}
    </div>
</div>
    </div>
</div>


<div class="tab">
<div class="mb-3" id="conveniosDiv">
    <label for="convenios" class="form-label">Convênios:</label>
    <div id="convenios">
        <!-- Checkbox para médicos -->
        <div style="max-height:12rem; overflow-y:scroll;">
        <div id="convenio_medico">
        {% for convenio in convenios %}
            {% if convenio.tipo_profissional == 'Médico' %}
            
                <div class="form-check" style="display: flex;
                align-items: center;
                justify-content: start;
                padding-left: 0 !important;">
                    <input type="checkbox" style="margin:.5rem !important;"  class="form-check-input registrar-check" id="{{ convenio.id }}" name="convenios" value="{{ convenio.id }}">
                    <label class="form-check-label" for="{{ convenio.id }}">{{ convenio.nome }}</label>
                </div>
           
            {% endif %}
        {% endfor %}
            </div>

        <div id="convenio_dentista">
        {% for convenio in convenios %}
        {% if convenio.tipo_profissional == 'Dentista' %}
        
            <div class="form-check" style="display: flex;
            align-items: center;
            justify-content: start;
            padding-left: 0 !important;">
                <input type="checkbox" style="margin:.5rem !important;"  class="form-check-input registrar-check" id="{{ convenio.id }}" name="convenios" value="{{ convenio.id }}">
                <label class="form-check-label" for="{{ convenio.id }}">{{ convenio.nome }}</label>
            </div>
       
        {% endif %}
    {% endfor %}
        </div>
            </div>
    </div>
       
    </div>
</div>



    

<div class="tab">
    
    
        Foto:
        <p><input type="file"  name="foto"></p>
        Descrição:
        <p><textarea style="width:100%; font-size:1rem !important; min-height:7rem !important;" type="text" placeholder="Descrição..." oninput="this.className = ''" name="descricao"></textarea></p>
        
        
      
           
      
    </div>


    
    
<div class="tab">
    Informações de Pagamento:
    <div id="payment-info" class="mt-3">
        <!-- O container onde o Stripe vai injetar o campo de cartão -->
        <div id="card-element">
            <!-- Um espaço reservado para o Stripe injetar o Element -->
        </div>
        <!-- Usado para exibir mensagens de erro -->
        <div id="card-errors" role="alert"></div>
        
    </div>
</div>

    


    <div class="tab">
        Senha:
       
          
            <p><input type="password" placeholder="Senha..." oninput="this.className = ''" name="password1"></p>
            Confirmar Senha:
            <p><input type="password" placeholder="Confirmar Senha..." oninput="this.className = ''" name="password2"></p>
            
            
               
          
        </div>
    
 
        
    
    


<div style="overflow:auto;">
    <div style="float:right;">
        <button type="button" id="prevBtn" onclick="nextPrev(-1)">Anterior</button>
        <button type="button" id="nextBtn" onclick="nextPrev(1)">Próximo</button>
        <button type="submit" id="submitBtn" style="display:none;">Enviar</button>
    </div>
</div>

      <!-- Circles which indicates the steps of the form: -->
      <div style="text-align:center;margin-top:40px;">
         <span class="step"></span>
         <span class="step"></span>
         <span class="step"></span>
         <span class="step"></span>
         <span class="step"></span>
         <span class="step"></span>
         <span class="step"><span>
               
         <span class="step"></span>
         <span class="step"></span>
         <span class="step"></span>
         <span class="step"></span>
      </div>
</form>
</div>
<div class="div-parte2 w-50 d-flex justify-content-center align-items-center" >
    <img style="max-height:20rem;" src=" {%static 'img/Hospital building-bro.png' %}">
</div>
</div>


<div class="container d-none justify-content-center mt-4 mb-4">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            {% for banner in banners %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                <img style="height:10rem !important; width:20rem!important; object-fit:cover !important;" src="{{ banner.foto.url }}" alt="{{ banner.nome }}">
            </div>
            {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    </div>
    <script>
    
        const carouselInner = document.querySelector('.carousel-inner');
        images.forEach((image, index) => {
            const isActive = index === 0 ? 'active' : '';
        
        });
                    </script>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

<script>
    var currentTab = 0;  // A aba atual é a primeira aba (0)
    showTab(currentTab);  // Exibir a aba atual

    function showTab(n) {
        var x = document.getElementsByClassName("tab");
        x[n].style.display = "block";  // Exibir a aba n
        if (n == 0) {
            document.getElementById("prevBtn").style.display = "none";  // Esconder o botão "Anterior" na primeira aba
        } else {
            document.getElementById("prevBtn").style.display = "inline";  // Exibir o botão "Anterior" nas outras abas
        }
        if (n == (x.length - 1)) {
            document.getElementById("nextBtn").style.display = 'none';  // Esconder o botão "Próximo" na última aba
            document.getElementById("submitBtn").style.display = 'inline';  // Exibir o botão "Enviar" na última aba
        } else {
            document.getElementById("nextBtn").style.display = 'inline';  // Exibir o botão "Próximo" nas outras abas
            document.getElementById("submitBtn").style.display = 'none';  // Esconder o botão "Enviar" nas outras abas
        }
    }

    function nextPrev(n) {
        var x = document.getElementsByClassName("tab");
        x[currentTab].style.display = "none";  // Esconder a aba atual
        currentTab = currentTab + n;  // Atualizar a aba atual
        showTab(currentTab);  // Exibir a nova aba
    }
</script>


<script type="text/javascript">
    console.log('Script started');
    var stripe = Stripe('pk_test_51O4Zn5DVCQ3YDKzSQyVYN3Slx8bRx9DEk1Zq5qDm0in8g0KNiAESSEKCVAZD7D3pUNrmPvRPClvIZY3EcY9IN3TK009iFxDvw5');
    console.log('Stripe instance created');

    var elements = stripe.elements();

    // Crie um Element com a opção `style` para personalizar o estilo
    var style = {
        base: {
            color: '#32325d',
            lineHeight: '18px',
            fontFamily: 'Arial, sans-serif',
            fontSmoothing: 'antialiased',
            fontSize: '16px',
            '::placeholder': {
                color: '#aab7c4'
            }
        },
        invalid: {
            color: '#fa755a',
            iconColor: '#fa755a'
        }
    };

    var card = elements.create('card', {style: style});
    card.mount('#card-element');
    console.log('Card element mounted');  // Adicione esta linha

    // Lidar com erros de validação em tempo real do Element
    card.addEventListener('change', function(event) {
        var displayError = document.getElementById('card-errors');
        if (event.error) {
            console.log('Validation error:', event.error.message);  // Adicione esta linha
            displayError.textContent = event.error.message;
        } else {
            displayError.textContent = '';
        }
    });
    // Manipular o formulário de submissão
    var form = document.getElementById('regForm');
form.addEventListener('submit', function(event) {
    event.preventDefault();  // Previne o formulário de ser enviado da maneira tradicional

    stripe.createToken(card).then(function(result) {
        if (result.error) {
            var errorElement = document.getElementById('card-errors');
            errorElement.textContent = result.error.message;
        } else {
            stripeTokenHandler(result.token);
        }
    }).catch(function(error) {
        console.error('Erro na criação de token Stripe:', error);
    });
});

function stripeTokenHandler(token) {
    // Inserir o token ID no formulário para que ele seja enviado ao servidor
    var form = document.getElementById('regForm');
    var hiddenInput = document.createElement('input');
    hiddenInput.setAttribute('type', 'hidden');
    hiddenInput.setAttribute('name', 'stripeToken');
    hiddenInput.setAttribute('value', token.id);
    form.appendChild(hiddenInput);

    form.submit();
}
    
</script>





<script src="{%static 'js/form.js' %}"> </script>
{%endblock%}