{%extends 'core/base.html'%}
{%load static%}
{%block 'conteudo'%}
<div class="container d-flex" style="flex-grow:1;">
    <div class="div-parte1 d-flex align-items-center w-50">
<form id="regForm"  method="post" enctype="multipart/form-data" action="{% url 'registerClinica'  %}">
   {% csrf_token %}
   <h3 class="mb-4 text-center w-100" style="color:#6D6875 !important;">Registrar Clínica:</h3>
   <!-- One "tab" for each step in the form: -->
   <div class="tab">
      Nome da Instituição:
      <p><input type="text" placeholder="Nome..." oninput="this.className = ''" name="nome"></p>
     
   </div>
   <div class="tab">
      Email:
      <p><input type="email" id="emailId" placeholder="E-mail..." oninput="this.className = ''" name="email"></p>
      Telefone:
      <p><input type="tel"  style="padding-left:3rem;" id="phone" placeholder="Telefone..." oninput="this.className = ''" name="telefone"></p>
      C.N.P.J:
      <p><input type="text" id="cpfId" placeholder="C.N.P.J..." oninput="this.className = ''" name="username"></p>
   </div>

   <div class="tab">
    Endereço:<br><br>
    CEP:
    <div class="d-flex flex-column justify-content-center align-items-center">
        <div class="d-flex flex-column justify-content-center align-items-center" id="cep-fields">
            <div class="cep-complemento-group">
                <input type="text" id="registerCEP" name="cep[]" placeholder="Digite o CEP">
                Complemento:
                <input type="text" name="complemento[]" id="complemento" placeholder="Complemento">
            </div>
        </div>
        <button class="mb-5" style="width:fit-content !important;" type="button" id="add-cep">+</button>
    </div>


<script>
document.getElementById('add-cep').addEventListener('click', function() {
    const newGroup = document.createElement('div');
    newGroup.className = 'cep-complemento-group';

    const newCepInput = document.createElement('input');
    newCepInput.type = 'text';
    newCepInput.name = 'cep[]';
    newCepInput.placeholder = 'Digite o CEP';

    const newComplementoField = document.createElement('input');
    newComplementoField.type = 'text';
    newComplementoField.name = 'complemento[]';
    newComplementoField.placeholder = 'Complemento';

    const newDeleteButton = document.createElement('button');
    newDeleteButton.type = 'button';
    newDeleteButton.className = 'delete-button';
    newDeleteButton.textContent = '🗑️';
    newDeleteButton.addEventListener('click', function() {
        newGroup.remove();
    });
    newGroup.appendChild(document.createTextNode(' CEP: '));
    newGroup.appendChild(newCepInput);
    newGroup.appendChild(document.createTextNode(' Complemento: '));
    newGroup.appendChild(newComplementoField);
    newGroup.appendChild(newDeleteButton);

    document.getElementById('cep-fields').appendChild(newGroup);
});
</script>

        
        
       
           
      
    </div>
    <div class="tab">
        Tipo Clínica:
        {% for tipo_clinica in tipos_clinicas %}
                    
                    
                        <div class="form-check medico" style="display: flex;
                        align-items: center;
                        justify-content: start;
                        padding-left: 0 !important;">
                            <input type="checkbox" style="margin:.5rem !important;"  class="form-check-input registrar-check" id="{{ tipo_clinica.id }}" name="tipo_clinica" value="{{ tipo_clinica.id }}">
                            <label class="form-check-label" for="{{ tipo_clinica.id }}">{{ tipo_clinica.nome }}</label>
                        </div>
                   
                   
                {% endfor %}
    </div>
   <div class="tab">

    Tipo Profissional:
    {% for tipo_profissional in tipos_profissionais %}
                {% if tipo_profissional.nome == 'Médico' %}
                
                    <div class="form-check medico" style="display: flex;
                    align-items: center;
                    justify-content: start;
                    padding-left: 0 !important;">
                        <input type="checkbox" style="margin:.5rem !important;"  class="form-check-input registrar-check medico_check" id="{{ tipo_profissional.id }}" onclick="changeMedico()" name="tipo_profissional" value="{{ tipo_profissional.id }}">
                        <label class="form-check-label" for="{{ tipo_profissional.id }}">{{ tipo_profissional.nome }}</label>
                    </div>
               
                {% endif %}
            {% endfor %}
            {% for tipo_profissional in tipos_profissionais %}
            {% if tipo_profissional.nome == 'Dentista' %}
            
                <div class="form-check medico" style="display: flex;
                align-items: center;
                justify-content: start;
                padding-left: 0 !important;">
                    <input type="checkbox" style="margin:.5rem !important;"  class="form-check-input registrar-check dentista_check" id="{{ tipo_profissional.id }}" onclick="changeDentista()" name="tipo_profissional" value="{{ tipo_profissional.id }}">
                    <label class="form-check-label" for="{{ tipo_profissional.id }}">{{ tipo_profissional.nome }}</label>
                </div>
           
            {% endif %}
        {% endfor %}
    <script>
        function uncheckAllCheckboxes(containerId) {
            const checkboxes = document.querySelectorAll(`#${containerId} input[type="checkbox"]`);
            checkboxes.forEach((checkbox) => {
                checkbox.checked = false;
            });
        }
        
        function toggleEspecialidadesLabel() {
            const deciderMedicos = document.querySelector('.medico_check').checked;
            const deciderDentistas = document.getElementById('switchDentistas').checked;
            const especialidadesLabel = document.getElementById('especialidadesLabel');
        
            if (deciderMedicos || deciderDentistas) {
                especialidadesLabel.style.display = 'inline';
            } else {
                especialidadesLabel.style.display = 'none';
            }
        }

        function changeMedico() {
            const deciderMedicos = document.querySelector('.medico_check');
            const convenioMedicos = document.getElementById('convenio_medico')
            const medicoEspecialidade = document.getElementById('espcialidadesMedicos');
            if(deciderMedicos.checked){
                medicoEspecialidade.style.display = 'block';
                convenioMedicos.style.display = 'block'
            } else {
                medicoEspecialidade.style.display = 'none';
                convenioMedicos.style.display = 'none';
                uncheckAllCheckboxes('espcialidadesMedicos');
            }
            toggleEspecialidadesLabel();
        }
        
        function changeDentista() {
            const deciderDentistas = document.querySelector('.dentista_check');
            const dentistaEspecialidade = document.getElementById('espcialidadesDentistas');
            const convenioDentistas = document.getElementById('convenio_dentista');
            if(deciderDentistas.checked){
                dentistaEspecialidade.style.display = 'block';
                convenioDentistas.style.display = 'block';
            } else {
                dentistaEspecialidade.style.display = 'none';
                convenioDentistas.style.display = 'none';
                uncheckAllCheckboxes('espcialidadesDentistas');
            }
            toggleEspecialidadesLabel();
        }

        

        
    </script>


    <div class="mb-3 mt-3" id="especialidadesDiv">
        <label for="especialidades" id="especialidadesLabel" style="display:none" class="form-label">Especialidades:</label>
        <div id="especialidades" style="max-height:12rem; overflow-y:scroll;">
            <!-- Checkbox para médicos -->
            <div id="espcialidadesMedicos" style="display:none;">
            {% for especialidade in especialidades %}
                {% if especialidade.tipo_profissional == 'Médico' %}
                
                    <div class="form-check medico" style="display: flex;
                    align-items: center;
                    justify-content: start;
                    padding-left: 0 !important;">
                        <input type="checkbox" style="margin:.5rem !important;"  class="form-check-input registrar-check" id="{{ especialidade.id }}" name="especialidades" value="{{ especialidade.id }}">
                        <label class="form-check-label" for="{{ especialidade.id }}">{{ especialidade.nome }}</label>
                    </div>
               
                {% endif %}
            {% endfor %}

            
                </div>
           <div id="espcialidadesDentistas" style=" display:none;">
            {% for especialidade in especialidades %}
                {% if especialidade.tipo_profissional == 'Dentista' %}
                
                    <div class="form-check medico" style="display: flex;
                    align-items: center;
                    justify-content: start;
                    padding-left: 0 !important;">
                        <input type="checkbox" style="margin:.5rem !important;"  class="form-check-input registrar-check" id="{{ especialidade.id }}" name="especialidades" value="{{ especialidade.id }}">
                        <label class="form-check-label" for="{{ especialidade.id }}">{{ especialidade.nome }}</label>
                    </div>
               
                {% endif %}
            {% endfor %}

            
                </div>         
                
        </div>
           
        </div>
    </div>


<div class="tab">
<div class="mb-3" id="IdiomasDiv">
    <label for="especialidades" class="form-label">Idiomas:</label>
    <div id="idiomas">
        <!-- Checkbox para médicos -->
        <div style="max-height:12rem; overflow-y:scroll;">
        {% for idioma in idiomas %}
          
            
                <div class="form-check" style="display: flex;
                align-items: center;
                justify-content: start;
                padding-left: 0 !important;">
                    <input type="checkbox" style="margin:.5rem !important;"  class="form-check-input registrar-check" id="{{ idioma.id }}" name="idiomas" value="{{ idioma.id }}">
                    <label class="form-check-label" for="{{ idioma.id }}">{{ idioma.nome }}</label>
                </div>
           
            
        {% endfor %}
    </div>
</div>
    </div>
</div>


<div class="tab">
<div class="mb-3" id="conveniosDiv">
    <label for="convenios" class="form-label">Convênios:</label>
    <div id="convenios">
        <!-- Checkbox para médicos -->
        <div style="max-height:12rem; overflow-y:scroll;">
        <div id="convenio_medico">
        {% for convenio in convenios %}
            {% if convenio.tipo_profissional == 'Médico' %}
            
                <div class="form-check" style="display: flex;
                align-items: center;
                justify-content: start;
                padding-left: 0 !important;">
                    <input type="checkbox" style="margin:.5rem !important;"  class="form-check-input registrar-check" id="{{ convenio.id }}" name="convenios" value="{{ convenio.id }}">
                    <label class="form-check-label" for="{{ convenio.id }}">{{ convenio.nome }}</label>
                </div>
           
            {% endif %}
        {% endfor %}
            </div>

        <div id="convenio_dentista">
        {% for convenio in convenios %}
        {% if convenio.tipo_profissional == 'Dentista' %}
        
            <div class="form-check" style="display: flex;
            align-items: center;
            justify-content: start;
            padding-left: 0 !important;">
                <input type="checkbox" style="margin:.5rem !important;"  class="form-check-input registrar-check" id="{{ convenio.id }}" name="convenios" value="{{ convenio.id }}">
                <label class="form-check-label" for="{{ convenio.id }}">{{ convenio.nome }}</label>
            </div>
       
        {% endif %}
    {% endfor %}
        </div>
            </div>
    </div>
       
    </div>
</div>



    

<div class="tab">
    
    
        Foto:
        <p><input type="file"  name="foto"></p>
        Descrição:
        <p><textarea style="width:100%; font-size:1rem !important; min-height:7rem !important;" type="text" placeholder="Descrição..." oninput="this.className = ''" name="descricao"></textarea></p>
        
        
      
           
      
    </div>
    


    <div class="tab">
        Senha:
       
          
            <p><input type="password" placeholder="Senha..." oninput="this.className = ''" name="password1"></p>
            Confirmar Senha:
            <p><input type="password" placeholder="Confirmar Senha..." oninput="this.className = ''" name="password2"></p>
            
            
               
          
        </div>
    
 
        
    
    


<div style="overflow:auto;">
    <div style="float:right;">
        <button type="button" id="prevBtn" onclick="nextPrev(-1)">Anterior</button>
        <button type="button" id="nextBtn" onclick="nextPrev(1)">Próximo</button>
    </div>
</div>

      <!-- Circles which indicates the steps of the form: -->
      <div style="text-align:center;margin-top:40px;">
         <span class="step"></span>
         <span class="step"></span>
         <span class="step"></span>
         <span class="step"></span>
         <span class="step"></span>
         <span class="step"></span>
         <span class="step"></span>
         <span class="step"></span>
         <span class="step"></span>
         <span class="step"></span>
      </div>
</form>
</div>
<div class="div-parte2 w-50 d-flex justify-content-center align-items-center" >
    <img style="max-height:20rem;" src=" {%static 'img/Hospital building-bro.png' %}">
</div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

<script>
   var currentTab = 0; // Current tab is set to be the first tab (0)
   showTab(currentTab); // Display the current tab
   
   function showTab(n) {
   // This function will display the specified tab of the form...
   var x = document.getElementsByClassName("tab");
   x[n].style.display = "block";
   //... and fix the Previous/Next buttons:
   if (n == 0) {
   document.getElementById("prevBtn").style.display = "none";
   } else {
   document.getElementById("prevBtn").style.display = "inline";
   }
   if (n == (x.length - 1)) {
   document.getElementById("nextBtn").innerHTML = "Enviar";
   } else {
   document.getElementById("nextBtn").innerHTML = "Próximo";
   }
   //... and run a function that will display the correct step indicator:
   fixStepIndicator(n)
   }
   
   function nextPrev(n) {
   // This function will figure out which tab to display
   var x = document.getElementsByClassName("tab");
   // Exit the function if any field in the current tab is invalid:
   if (n == 1 && !validateForm()) return false;
   // Hide the current tab:
   x[currentTab].style.display = "none";
   // Increase or decrease the current tab by 1:
   currentTab = currentTab + n;
   // if you have reached the end of the form...
   if (currentTab >= x.length) {
   // ... the form gets submitted:
   document.getElementById("regForm").submit();
   return false;
   }
   // Otherwise, display the correct tab:
   showTab(currentTab);
   }
   
   function validateForm() {
   // This function deals with validation of the form fields
   var x, y, i, valid = true;
   x = document.getElementsByClassName("tab");
   y = x[currentTab].getElementsByTagName("input");
   // A loop that checks every input field in the current tab:
   for (i = 0; i < y.length; i++) {
   // If a field is empty...
   if (y[i].value == "") {
     // add an "invalid" class to the field:
     y[i].className += " invalid";
     // and set the current valid status to false
     valid = false;
   }
   }
   // If the valid status is true, mark the step as finished and valid:
   if (valid) {
   document.getElementsByClassName("step")[currentTab].className += " finish";
   }
   return valid; // return the valid status
   }
   
   function fixStepIndicator(n) {
   // This function removes the "active" class of all steps...
   var i, x = document.getElementsByClassName("step");
   for (i = 0; i < x.length; i++) {
   x[i].className = x[i].className.replace(" active", "");
   }
   //... and adds the "active" class on the current step:
   x[n].className += " active";
   }

   //document.addEventListener("DOMContentLoaded", function() {
   // var checkboxes = document.querySelectorAll("input[type='checkbox'][name='especialidades[]']");
  //  checkboxes.forEach(function(checkbox) {
  //      checkbox.addEventListener("click", function() {
            // Forçar que a caixa de seleção permaneça marcada ou desmarcada como desejado
       //     this.checked = !this.checked ? false : true;
    //    });
  //  });
// });



</script>


<script src="{%static 'js/form.js' %}"> </script>
{%endblock%}