{%extends 'core/base.html'%}
{%load static%}
{%block 'conteudo'%}
<div class="container d-flex flex-column align-items-center justify-content-center" style="flex-grow:1">
    <div class="my-4">
        <h2 class="fw-bold" style="color:#212529">QUEM SOMOS</h2>
        <p style="color: black;">Na SaúdeBras, estamos comprometidos em tornar a busca e o acesso a cuidados médicos de qualidade mais fácil para todos.</p>
        <p style="color: black;">Somos uma plataforma inovadora que conecta pacientes a uma ampla rede de profissionais de saúde, oferecendo consultas e exames médicos a preços reduzidos, sem a necessidade de custos adicionais ou mensalidades.</p>
        
        <h2 class="fw-bold" style="color:#212529">MISSÃO</h2>
        <p style="color: black;">Na SaúdeBras, nossa missão é facilitar o acesso a cuidados médicos de qualidade, proporcionando uma plataforma confiável e acessível que conecta pacientes a uma rede diversificada de profissionais de saúde. Buscamos promover a saúde e o bem-estar, oferecendo serviços eficientes e transparentes, sem custos ocultos, para que todos possam receber o cuidado necessário quando mais precisam.</p>
        
        <h2 class="fw-bold" style="color:#212529">VISÃO</h2>
        <p style="color: black;">Nossa visão é ser a principal referência em facilitação de acesso à saúde, utilizando tecnologia de ponta para conectar pacientes a profissionais de saúde em todo o Brasil. Almejamos transformar a experiência de cuidado médico, tornando-a mais acessível, conveniente e humanizada, promovendo uma comunidade mais saudável e informada.</p>
        
        <h2 class="fw-bold" style="color:#212529">VALORES</h2>
        <div>
          <h3>1. Excelência</h3>
          <p style="color: #212529;">Comprometemo-nos com a qualidade em tudo o que fazemos, garantindo padrões elevados de cuidado e serviço.</p>
        </div>
        <div>
          <h3>2. Acessibilidade</h3>
          <p style="color: #212529;">Acreditamos que todos devem ter acesso igualitário a cuidados médicos de qualidade, sem barreiras financeiras.</p>
        </div>
        <div>
          <h3>3. Integridade</h3>
          <p style="color: #212529;">Agimos com transparência, ética e responsabilidade em todas as nossas interações, construindo confiança e respeito.</p>
        </div>
        <div>
          <h3>4. Inovação</h3>
          <p style="color: #212529;">Buscamos constantemente maneiras inovadoras de melhorar nossos serviços e experiência do paciente, utilizando tecnologia para facilitar o acesso à saúde.</p>
        </div>
        <div>
          <h3>5. Empatia</h3>
          <p style="color: #212529;">Colocamos as necessidades dos nossos pacientes em primeiro lugar, demonstrando compreensão e empatia em cada interação.</p>
        </div>
        <p style="color: #212529;">Estes valores fundamentais guiam nossas ações diárias e nos motivam a continuar melhorando e expandindo nosso impacto na vida das pessoas que atendemos.</p>
      </div>
</div>
{%endblock%}