{%extends 'core/base.html'%}
{%load static%}
{%block 'conteudo'%}
<div class="container d-flex flex-column align-items-center justify-content-center" style="flex-grow:1">
    <div class="my-4">
        <h2 style="color:#212529" class="fw-bold">VANTAGENS</h2>
        <p style="color:#212529">Por que escolher a SaúdeBras?</p>
        <div>
          <h3>1. Economia Sem Compromisso</h3>
          <p style="color: #212529;">Na SaúdeBras, acreditamos que saúde de qualidade não deve custar uma fortuna. Nossa plataforma oferece descontos significativos em consultas e exames médicos, garantindo que você receba o melhor cuidado sem comprometer seu orçamento.</p>
        </div>
        <div>
          <h3>2. Facilidade de Uso</h3>
          <p style="color: #212529;">Agendar uma consulta ou exame com a SaúdeBras é simples e rápido. Com apenas alguns cliques, você pode encontrar e reservar o serviço de saúde que precisa, sem complicações.</p>
        </div>
        <div>
          <h3>3. Ampla Rede de Profissionais</h3>
          <p style="color: #212529;">Trabalhamos com uma ampla rede de médicos e clínicas renomadas, garantindo que você receba atendimento médico de alta qualidade em diversas especialidades.</p>
        </div>
        <div>
          <h3>4. Transparência e Confiança</h3>
          <p style="color: #212529;">Na SaúdeBras, transparência é fundamental. Todos os custos são apresentados claramente antes do agendamento, para que você possa planejar seu orçamento com antecedência.</p>
        </div>
        <div>
          <h3>5. Sem Mensalidades</h3>
          <p style="color: #212529;">Diferente de outras plataformas, na SaúdeBras você não paga nenhuma mensalidade para obter os descontos. Nosso foco é proporcionar economia real em cada consulta ou exame que você agendar.</p>
        </div>
      </div>
</div>
{%endblock%}